FORMAT: 1A
HOST: https://kitsu.io/api/edge

# Kitsu API

Kitsu is a modern anime discovery platform that helps you track the
anime you're watching, discover new anime and socialize with other
fans.

With the Kitsu API you can do everything the client can do and much
more.

<!-- # Versioning

Every year, we release a new version of the API, numbered by the
last two digits of the current year. For example, the root URL of
this (the 2017) release is `https://kitsu.io/api/17/`.

No fields, endpoints, or resources will be removed until the next
year's release, but may be changed to return empty values (arrays,
empty strings, etc.) before then. Fields, endpoints, and resources
may be added throughout the lifetime of a release.

In addition to these versioned APIs, there is access to the same API
our website uses. However, this offers no guarantees: anything could
change at any time. We suggest you don't use this, but if you need
to, it can be accessed at `https://kitsu.io/api/edge/`.

## Life Cycle

Upon release of a new version, the previous version will be
maintained for one year or until usage drops below 2% of API
traffic.

During this period, it will not be updated to have any new fields,
endpoints, or resources. You are expected to keep your applications
running on the latest version of the API. For most applications,
upgrading should take no more than a few hours of work.
-->

# JSON API

The Kitsu API implements the JSON API specification. This means
there are some notable semantics to how you consume it, but
understanding it will take a lot of the work of using it out of your
hands.

These docs will include a short overview of the capabilities, but
you can consult the [JSON API Specification][jsonapi] for more
information.

You can be more specific about the data you want to retrieve by
using URL parameters and are outlined below.

**Note:** This documentation will display parameters with brackets
(`[` and `]`) for readability, but actual URLs will need to be
percent-encoded (`%5B` and `%5D`).

## Request Headers

As per the JSON API specification, all requests to the API should
contain these headers:

```
Accept: application/vnd.api+json
Content-Type: application/vnd.api+json
```

## Filtering and Search

Filtering lets you query data that contains certain matching
attributes or relationships. These take the form of
`filter[attribute]=value`. For example, you can request all the
anime of the Adventure genre:

```
/anime?filter[genres]=adventure
```

For some models, you can also search based on the query text:

```
/anime?filter[text]=cowboy%20bebop
```

## Pagination

You can choose how much of a resource to receive by specifying
pagination parameters. Pagination is supported via `limit` and
`offset`. Resources are paginated in groups of `20` by default.

`/anime?page[limit]=5&page[offset]=0`

The response will include URLs for the first, next and last page of
resources in the `links` object based on your request.

```
"links": {
    "first": "https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=0",
    "next": "https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=5",
    "last": "https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=12062"
}
```

## Sorting

Sorting by attributes is also supported. By default, sorts are
applied in ascending order. You can request a descending order by
prepending `-` to the parameter. You can use a comma-delimited list
to sort by multiple attributes.

`/users?sort=-followersCount,-followingCount`

## Includes

You can include related resources with `include=[relationship]`.
You can also specify successive relationships using a `.`. A
comma-delimited list can be used to request multiple relationships.

`/library-entries?include=user,anime.genres`

## Sparse Fieldsets

You can request a resource to only return a specific set of fields
in its response. For example, to only receive a user's name and
creation date:

`/users?fields[users]=name,createdAt`

## Client Implementations

JSON API has a great advantage in that since its standardised,
API-agnostic tools can be made to abstract away the semantics of
consuming and working with the data. It is recommended that you use
a JSON API client to implement the Kitsu API for this reason.

Many implementations in over 13 languages can be found on the
[JSON API website][jsonapi-client].

# HTTP Methods

Method   | Description
-------- | -----------
`GET`    | Read - retrieve resources
`POST`   | Create - create new resources
`PATCH`  | Update - (partially) modify existing resources
`DELETE` | Delete - remove resources

# Status Codes & Errors

Code  | Description
----- | -----------
`200` | OK - request succeeded (GET, PATCH, DELETE)
`201` | Created - new resource created (POST)
`204` | No Content - request succeeded (DELETE)
`400` | Bad Request - malformed request
`401` | Unauthorized - invalid or no authentication details provided
`404` | Not Found - resource does not exist
`406` | Not Acceptable - invalid `Accept` header
`5xx` | Server Error

## Error Responses

Error responses are human-readable and will always have the following structure:

```
{
    "errors": [
        {
            "title": "Error name",
            "detail": "Further information about the error",
            "code": "102",
            "status": "400"
        }
    ]
}
```

# Questions?

If you have any questions, you can join our Slack by sending an
email to josh@kitsu.io or pinging [@wopian][wopian],
[@matthewdias][matthewdias] or [@nuck][nuck] on Kitsu.

[jsonapi]:http://jsonapi.org/format/
[jsonapi-client]:http://jsonapi.org/implementations/#client-libraries
[wopian]:https://kitsu.io/users/wopian
[matthewdias]:https://kitsu.io/users/matthewdias
[nuck]:https://kitsu.io/users/nuck

# Group Authentication

Kitsu uses OAuth 2 for authentication. It is not required to send
authenticated requests for most endpoints.

After registering your app, you will receieve a client ID and a
client secret. The client ID is considered public information and is
used to build login URLs or included in source code. The client
secret **must** be kept confidential.

**NOTE:** Application registration has not yet been implemented, so
for now all requests should be  made with the following client ID
and client secret:

```
CLIENT_ID: dd031b32d2f56c990b1425efe6c42ad847e7fe3ab46bf1299f05ecd856bdb7dd
CLIENT_SECRET: 54d7307928f63414defd96399fc31ba847961ceaecef3a5fd93144e960c0e151
```

# Grant Types

OAuth 2 provides several grant types for different use cases. The
grant types defined are:

- **Authorization Code** for apps running on a web server,
browser-based and mobile apps
- **Password** for logging in with a username and Password
- **Client Credentials** for application access
# Group Characters & People

## Anime Characters [/anime-characters/{id}]

+ Parameters
    + id (number, `1`) - ID of the anime character resource

+ Attributes (animeCharactersAttributes)

### GET List [GET /anime-characters]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (animeCharacters)
        + meta (object, required)
            + count: 109379 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/anime-characters?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/anime-characters?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/anime-characters?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/anime-characters?page%5Blimit%5D=10&page%5Boffset%5D=109369` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (animeCharacters)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Anime Productions [/anime-productions/{id}]

+ Parameters
    + id (number, `1`) - ID of the anime production resource

+ Attributes (animeProductionsAttributes)

### GET List [GET /anime-productions]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (animeProductions)
        + meta (object, required)
            + count: 28401 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/anime-productions?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/anime-productions?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/anime-productions?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/anime-productions?page%5Blimit%5D=10&page%5Boffset%5D=28391` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (animeProductions)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Anime Staff [/anime-staff/{id}]

+ Parameters
    + id (number, `1`) - ID of the anime staff resource

+ Attributes (animeStaffAttributes)

### GET List [GET /anime-staff]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (animeStaff)
        + meta (object, required)
            + count: 88543 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/anime-staff?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/anime-staff?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/anime-staff?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/anime-staff?page%5Blimit%5D=10&page%5Boffset%5D=88533` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (animeStaff)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Castings [/castings/{id}]

+ Parameters
    + id (number, `1`) - ID of the casting resource

+ Attributes (castingsAttributes)

### GET List [GET /castings]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (castings)
        + meta (object, required)
            + count: 244549 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/castings?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/castings?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/castings?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/castings?page%5Blimit%5D=10&page%5Boffset%5D=244539` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (castings)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Characters [/characters/{id}]

+ Parameters
    + id (number, `1`) - ID of the character resource

+ Attributes (charactersAttributes)

### GET List [GET /characters]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (characters)
        + meta (object, required)
            + count: 950090 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/characters?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/characters?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/characters?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/characters?page%5Blimit%5D=10&page%5Boffset%5D=94999` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (characters)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Manga Characters [/manga-characters/{id}]

+ Parameters
    + id (number, `1`) - ID of the manga character resource

+ Attributes (mangaCharactersAttributes)

### GET List [GET /manga-characters]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (mangaCharacters)
        + meta (object, required)
            + count: 3 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/manga-characters?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/manga-characters?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/manga-characters?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/manga-characters?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mangaCharacters)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Manga Staff [/manga-staff/{id}]

+ Parameters
    + id (number, `1`) - ID of the manga staff resource

+ Attributes (mangaStaffAttributes)

### GET List [GET /manga-staff]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (mangaStaff)
        + meta (object, required)
            + count: 1 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/manga-staff?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/manga-staff?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/manga-staff?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/manga-staff?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mangaStaff)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## People [/people/{id}]

+ Parameters
    + id (number, `1`) - ID of the person resource

+ Attributes (peopleAttributes)

### GET List [GET /people]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (people)
        + meta (object, required)
            + count: 27957 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/people?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/people?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/people?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/people?page%5Blimit%5D=10&page%5Boffset%5D=27947` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (people)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Producers [/producers/{id}]

+ Parameters
    + id (number, `1`) - ID of the producer resource

+ Attributes (producersAttributes)

### GET List [GET /producers]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (producers)
        + meta (object, required)
            + count: 1333 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/producers?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/producers?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/producers?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/producers?page%5Blimit%5D=10&page%5Boffset%5D=1323` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (producers)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
# Group Groups

## Group Action Logs [/group-action-logs/{id}]

+ Parameters
    + id (number, `1`) - ID of the group action log resource
## Group Bans [/group-bans/{id}]

+ Parameters
    + id (number, `1`) - ID of the group ban resource
## Group Categories [/group-categories/{id}]

+ Parameters
    + id (number, `1`) - ID of the group category resource

+ Attributes (groupCategoriesAttributes)

### GET List [GET /group-categories]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (groupCategories)
        + meta (object, required)
            + count: 10 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/group-categories?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/group-categories?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/group-categories?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/group-categories?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (groupCategories)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Group Invites [/group-invites/{id}]

+ Parameters
    + id (number, `1`) - ID of the group invite resource
## Group Member Notes [/group-member-notes/{id}]

+ Parameters
    + id (number, `1`) - ID of the group member note resource
## Group Members [/group-members/{id}]

+ Parameters
    + id (number, `1`) - ID of the group member resource

+ Attributes (groupMembersAttributes)

### GET List [GET /group-members]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (groupMembers)
        + meta (object, required)
            + count: 241197 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/group-members?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/group-members?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/group-members?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/group-members?page%5Blimit%5D=10&page%5Boffset%5D=241187` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (groupMembers)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Group Neighbors [/group-neighbors/{id}]

+ Parameters
    + id (number, `1`) - ID of the group neighbor resource

### GET List [GET /group-neighbors]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (groupNeighbors)
        + meta (object, required)
            + count: 296 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/group-neighbors?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/group-neighbors?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/group-neighbors?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/group-neighbors?page%5Blimit%5D=10&page%5Boffset%5D=286` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (groupNeighbors)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Group Permissions [/group-permissions/{id}]

+ Parameters
    + id (number, `1`) - ID of the group permission resource

+ Attributes (groupPermissionsAttributes)

### GET List [GET /group-permissions]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (groupPermissions)
        + meta (object, required)
            + count: 5046 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/group-permissions?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/group-permissions?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/group-permissions?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/group-permissions?page%5Blimit%5D=10&page%5Boffset%5D=5036` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (groupPermissions)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Group Reports [/group-reports/{id}]

+ Parameters
    + id (number, `1`) - ID of the group report resource
## Group Ticket Messages [/group-ticket-messages/{id}]

+ Parameters
    + id (number, `1`) - ID of the group ticket message resource
## Group Tickets [/group-tickets/{id}]

+ Parameters
    + id (number, `1`) - ID of the group ticket resource
## Groups [/groups/{id}]

+ Parameters
    + id (number, `1`) - ID of the group resource

+ Attributes (groupsAttributes)

### GET List [GET /groups]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (groups)
        + meta (object, required)
            + count: 1917 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/groups?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/groups?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/groups?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/groups?page%5Blimit%5D=10&page%5Boffset%5D=1907` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (groups)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Leader Chat Messages [/leader-chat-messages/{id}]

+ Parameters
    + id (number, `1`) - ID of the leader chat message resource
# Group Media

## Anime [/anime/{id}]

+ Parameters
    + id (number, `1`) - ID of the anime resource

+ Attributes (animeAttributes)

### GET List [GET /anime]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (anime)
        + meta (object, required)
            + count: 12080 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/anime?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/anime?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/anime?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/anime?page%5Blimit%5D=10&page%5Boffset%5D=12070` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (anime)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

## Categories [/categories/{id}]

+ Parameters
    + id (number, `1`) - ID of the category resource

+ Attributes (categoriesAttributes)

### GET List [GET /categories]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (categories)
        + meta (object, required)
            + count: 228 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/categories?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/categories?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/categories?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/categories?page%5Blimit%5D=10&page%5Boffset%5D=218` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (categoriesAttributes)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Category Favorites [/category-favorites/{id}]

+ Parameters
    + id (number, `2`) - ID of the category favorite resource

### GET List [GET /category-favorites]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (categoryFavorites)
        + meta (object, required)
            + count: 351 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/category-favorites?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/category-favorites?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/category-favorites?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/category-favorites?page%5Blimit%5D=10&page%5Boffset%5D=341` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (categoryFavorites)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Category Recommendations [/category-recommendations/{id}]

+ Parameters
    + id (number, `1`) - ID of the category recommendation resource
## Chapters [/chapters/{id}]

+ Parameters
    + id (number, `1`) - ID of the chapter resource
## Drama [/drama/{id}]

+ Parameters
    + id (number, `1`) - ID of the drama resource
## Episodes [/episodes/{id}]

+ Parameters
    + id (number, `28`) - ID of the episode resource

+ Attributes (episodesAttributes)

### GET List [GET /episodes]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (categories)
        + meta (object, required)
            + count: 180218 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/categories?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/categories?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/categories?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/categories?page%5Blimit%5D=10&page%5Boffset%5D=180200` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (episodesAttributes)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Franchises [/franchises/{id}]

+ Parameters
    + id (number, `1`) - ID of the franchise resource

+ Attributes (franchisesAttributes)

### GET List [GET /franchises]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (franchises)
        + meta (object, required)
            + count: 1332 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/franchises?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/franchises?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/franchises?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/franchises?page%5Blimit%5D=10&page%5Boffset%5D=1322` (required)


+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (franchises)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Genres [/genres/{id}]

**DEPRECATED**: Use `categories` instead

+ Parameters
    + id (number, `1`) - ID of the genre resource

+ Attributes (genresAttributes)

### GET List [GET /genres]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (genres)
        + meta (object, required)
            + count: 61 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/genres?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/genres?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/genres?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/genres?page%5Blimit%5D=10&page%5Boffset%5D=51` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (genres)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Installments [/installments/{id}]

+ Parameters
    + id (number, `1`) - ID of the installment resource

+ Attributes (installmentsAttributes)

### GET List [GET /installments]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (installments)
        + meta (object, required)
            + count: 5902 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/installments?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/installments?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/installments?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/installments?page%5Blimit%5D=10&page%5Boffset%5D=5892` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid page value
                + detail: 0 is not a valid value for limit page parameter.
                + code: 118
                + status: 400

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (installments)

+ Response 404 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Record not found
                + detail: The record identified by 0 could not be found.
                + code: 404
                + status: 404

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid field value
                + detail: helloworld is not a valid value for id.
                + code: 103
                + status: 400
## Manga [/manga/{id}]

+ Parameters
    + id (number, `14916`) - ID of the manga resource

+ Attributes (mangaAttributes)

### GET List [GET /manga]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (manga)
        + meta (object, required)
            + count: 30634 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/manga?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/manga?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/manga?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/manga?page%5Blimit%5D=10&page%5Boffset%5D=30624` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (manga)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

## Mappings [/mappings/{id}]

+ Parameters
    + id (number, `1`) - ID of the mapping resource

+ Attributes (mappingsAttributes)

### GET List [GET /mappings]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (mappings)
        + meta (object, required)
            + count: 109379 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/mappings?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/mappings?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/mappings?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/mappings?page%5Blimit%5D=10&page%5Boffset%5D=109369` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mappings)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Media Attribute Votes [/media-attribute-votes/{id}]

+ Parameters
    + id (number, `1`) - ID of the media attribute vote resource
## Media Attributes [/media-attributes/{id}]

+ Parameters
    + id (number, `1`) - ID of the media attribute resource
## Media Follows [/media-follows/{id}]

+ Parameters
    + id (number, `1`) - ID of the media follow resource

### GET List [GET /media-follows]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (mediaFollows)
        + meta (object, required)
            + count: 10256 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/media-follows?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/media-follows?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/media-follows?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/media-follows?page%5Blimit%5D=10&page%5Boffset%5D=10246` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mediaFollows)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Media Reaction Votes [/media-reaction-votes/{id}]

+ Parameters
    + id (number, `1`) - ID of the media reaction vote resource
## Media Reactions [/media-reactions/{id}]

+ Parameters
    + id (number, `1`) - ID of the media reaction resource
## Media Relationships [/media-relationships/{id}]

+ Parameters
    + id (number, `1`) - ID of the media relationship resource

+ Attributes (mediaRelationshipsAttributes)

### GET List [GET /media-relationships]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (mediaRelationships)
        + meta (object, required)
            + count: 17798 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/media-relationships?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/media-relationships?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/media-relationships?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/media-relationships?page%5Blimit%5D=10&page%5Boffset%5D=17788` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mediaRelationships)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Streamers [/streamers/{id}]

+ Parameters
    + id (number, `1`) - ID of the streamer resource

+ Attributes (streamersAttributes)

### GET List [GET /streamers]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (animeCharacters)
        + meta (object, required)
            + count: 109379 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/streamers?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/streamers?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/streamers?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/streamers?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid page value
                + detail: 0 is not a valid value for limit page parameter.
                + code: 118
                + status: 400

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (streamers)

+ Response 404 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Record not found
                + detail: The record identified by 0 could not be found.
                + code: 404
                + status: 404

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid field value
                + detail: helloworld is not a valid value for id.
                + code: 103
                + status: 400
## Streaming Links [/streaming-links/{id}]

+ Parameters
    + id (number, `1`) - ID of the streaming link resource

+ Attributes (streamingLinksAttributes)

### GET List [GET /streaming-links]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (streamingLinks)
        + meta (object, required)
            + count: 1898 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/streaming-links?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/streaming-links?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/streaming-links?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/streaming-links?page%5Blimit%5D=10&page%5Boffset%5D=1888` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid page value
                + detail: 0 is not a valid value for limit page parameter.
                + code: 118
                + status: 400

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (streamingLinks)

+ Response 404 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Record not found
                + detail: The record identified by 0 could not be found.
                + code: 404
                + status: 404

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid field value
                + detail: helloworld is not a valid value for id.
                + code: 103
                + status: 400
# Group Posts

## Comment Likes [/comment-likes/{id}]

+ Parameters
    + id (number, `1`) - ID of the comment like resource
## Comments [/comments/{id}]

+ Parameters
    + id (number, `1`) - ID of the comment resource

+ Attributes (commentsAttributes)

### GET List [GET /comments]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (comments)
        + meta (object, required)
            + count: 1274779 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/comments?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/comments?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/comments?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/comments?page%5Blimit%5D=10&page%5Boffset%5D=1274769` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (comments)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

## Post Likes [/post-likes/{id}]

+ Parameters
    + id (number, `1`) - ID of the post like resource

+ Attributes (postLikesAttributes)

### GET List [GET /post-likes]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (postLikes)
        + meta (object, required)
            + count: 1600082 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/post-likes?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/post-likes?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/post-likes?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/post-likes?page%5Blimit%5D=10&page%5Boffset%5D=1600072` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (postLikes)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Post Follows [/post-follows/{id}]

+ Parameters
    + id (number, `3`) - ID of the post follow resource

+ Attributes (postFollowsAttributes)

### GET List [GET /post-follows]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (postFollows)
        + meta (object, required)
            + count: 2076 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/post-follows?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/post-follows?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/post-follows?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/post-follows?page%5Blimit%5D=10&page%5Boffset%5D=2066` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (postFollows)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Posts [/posts/{id}]

+ Parameters
    + id (number, `167585`) - ID of the post resource

+ Attributes (postsAttributes)

### GET List [GET /posts]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (posts)
        + meta (object, required)
            + count: 887155 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/posts?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/posts?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/posts?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/posts?page%5Blimit%5D=10&page%5Boffset%5D=887145` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (posts)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Reports [/reports/{id}]

+ Parameters
    + id (number, `1`) - ID of the report resource
# Group Reviews

## Review Likes [/review-likes/{id}]

+ Parameters
    + id (number, `1`) - ID of the review like resource

### GET List [GET /review-likes]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array)
            + (reviewLikes)
        + meta (object, required)
            + count: 27237 (number)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/review-likes?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + next: `https://kitsu.io/api/edge/review-likes?page%5Blimit%5D=10&page%5Boffset%5D=10`
            + last: `https://kitsu.io/api/edge/review-likes?page%5Blimit%5D=10&page%5Boffset%5D=27227`

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (reviewLikes)

+ Response 404 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Record not found
                + detail: The record identified by 0 could not be found.
                + code: 404
                + status: 404

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid field value
                + detail: helloworld is not a valid value for id.
                + code: 103
                + status: 400
## Reviews [/reviews/{id}]

+ Parameters
    + id (number, `4`) - ID of the review resource

+ Attributes (reviewsAttributes)

### GET List [GET /reviews]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (reviews)
        + meta (object, required)
            + count: 14505 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/reviews?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/reviews?page%5Blimit%5D=10&page%5Boffset%5D=0` _ Omitted if on first page
            + next: `https://kitsu.io/api/edge/reviews?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/reviews?page%5Blimit%5D=10&page%5Boffset%5D=14495` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid page value
                + detail: 0 is not a valid value for limit page parameter.
                + code: 118
                + status: 400

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (reviews)

+ Response 404 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Record not found
                + detail: The record identified by 0 could not be found.
                + code: 404
                + status: 404

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid field value
                + detail: helloworld is not a valid value for id.
                + code: 103
                + status: 400
# Group Site Announcements

## Site Announcements [/site-announcements/{id}]

+ Parameters
    + id (number, `2`) - ID of the site announcement resource

+ Attributes (siteAnnouncementsAttributes)

### GET List [GET /site-announcements]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (siteAnnouncements)
        + meta (object, required)
            + count: 3 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/site-announcements?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/site-announcements?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/site-announcements?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/site-announcements?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid page value
                + detail: 0 is not a valid value for limit page parameter.
                + code: 118
                + status: 400

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (siteAnnouncements)

+ Response 404 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Record not found
                + detail: The record identified by 0 could not be found.
                + code: 404
                + status: 404

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid field value
                + detail: helloworld is not a valid value for id.
                + code: 103
                + status: 400
# Group User Libraries

## Library Entries [/library-entries/{id}]

+ Parameters
    + id (number, `1`) - ID of the library entry resource
## Library Entry Logs [/library-entry-logs/{id}]

+ Parameters
    + id (number, `1`) - ID of the library entry log resource
## Library Events [/library-events/{id}]

+ Parameters
    + id (number, `1`) - ID of the library event resource
## List Imports [/list-imports/{id}]

+ Parameters
    + id (number, `1`) - ID of the list import resource
# Group Users

## Blocks [/blocks/{id}]

+ Parameters
    + id (number, `1`) - ID of the block resource
## Favorites [/favorites/{id}]

+ Parameters
    + id (number, `1`) - ID of the favorite resource

+ Attributes (favoritesAttributes)

### GET List [GET /favorites]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (favorites)
        + meta (object, required)
            + count: 457266 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/favorites?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/favorites?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/favorites?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/favorites?page%5Blimit%5D=10&page%5Boffset%5D=457256` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (favorites)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Follows [/follows/{id}]

+ Parameters
    + id (number, `1`) - ID of the follow resource
## Profile Link Sites [/profile-link-sites/{id}]

+ Parameters
    + id (number, `1`) - ID of the profile link site resource

+ Attributes (profileLinkSitesAttributes)

### GET List [GET /profile-link-sites]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (profileLinkSites)
        + meta (object, required)
            + count: 29 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/profile-link-sites?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/profile-link-sites?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/profile-link-sites?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/profile-link-sites?page%5Blimit%5D=10&page%5Boffset%5D=19` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (profileLinkSites)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Profile Links [/profile-links/{id}]

+ Parameters
    + id (number, `1`) - ID of the profile link resource

+ Attributes (profileLinksAttributes)

### GET List [GET /profile-links]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (profileLinks)
        + meta (object, required)
            + count: 11465 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/profile-links?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/profile-links?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/profile-links?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/profile-links?page%5Blimit%5D=10&page%5Boffset%5D=11455` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (profileLinks)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Roles [/roles/{id}]

+ Parameters
    + id (number, `1`) - ID of the role resource

+ Attributes (rolesAttributes)

### GET List [GET /roles]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (roles)
        + meta (object, required)
            + count: 9 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/roles?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/roles?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/roles?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/roles?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (roles)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Stats [/stats/{id}]

+ Parameters
    + id (number, `1`) - ID of the stat resource
## User Roles [/user-roles/{id}]

+ Parameters
    + id (number, `1`) - ID of the user role resource

### GET List [GET /user-roles]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array, required)
            + (userRoles)
        + meta (object, required)
            + count: 103 (number, required)
        + links (object, required)
            + first: `https://kitsu.io/api/edge/user-roles?page%5Blimit%5D=10&page%5Boffset%5D=0` (required)
            + prev: `https://kitsu.io/api/edge/user-roles?page%5Blimit%5D=10&page%5Boffset%5D=0` - Omitted if on first page
            + next: `https://kitsu.io/api/edge/user-roles?page%5Blimit%5D=10&page%5Boffset%5D=10` - Omitted if on last page
            + last: `https://kitsu.io/api/edge/user-roles?page%5Blimit%5D=10&page%5Boffset%5D=93` (required)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (userRoles)

+ Response 404 (application/vnd.api+json)
    + Attributes (error404)

+ Response 400 (application/vnd.api+json)
    + Attributes (error400)
## Users [/users/{id}]

+ Parameters
    + id (number, `1`) - ID of the user resource

# Data Structures

## animeCharactersAttributes (object)
+ role: main (enum) - Role the character plays in the anime
    + main
    + supporting

## animeCharacters (object)
+ id: 1 (required)
+ type: animeCharacters (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/anime-characters/1` (required)
+ attributes (animeCharactersAttributes)
+ relationships (object)
    + anime (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime-characters/1/relationships/anime`
            + related: `https://kitsu.io/api/edge/anime-characters/1/anime`
    + character (object)
        +links (object)
            + self: `https://kitsu.io/api/edge/anime-characters/1/relationships/character`
            + related: `https://kitsu.io/api/edge/anime-characters/1/character`
    + castings (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime-characters/1/relationships/castings`
            + related: `https://kitsu.io/api/edge/anime-characters/1/castings`
## animeProductionsAttributes (object)
+ role: producer (enum) - role of the producer
    + licensor
    + producer
    + studio

## animeProductions (object)
+ id: 1 (required)
+ type: animeProductions (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/anime-productions/1` (required)
+ attributes (animeCharactersAttributes)
+ relationships (object)
    + anime (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime-productions/1/relationships/anime`
            + related: `https://kitsu.io/api/edge/anime-productions/1/anime`
    + producer (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime-productions/1/relationships/producer`
            + related: `https://kitsu.io/api/edge/anime-productions/1/producer`
## animeStaffAttributes (object)
+ role: Producer - Role of the person (Multiple roles are comma seperated)

## animeStaff (object)
+ id: 1 (required)
+ type: animeStaff (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/anime-staff/1` (required)
+ attributes (animeStaffAttributes)
+ relationships (object)
    + anime (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime-staff/1/relationships/anime`
            + related: `https://kitsu.io/api/edge/anime-staff/1/anime`
    + person (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime-staff/1/relationships/person`
            + related: `https://kitsu.io/api/edge/anime-staff/1/person`
## castingsAttributes (object)
+ role: producer - Role of the person (Multiple roles are comma seperated)
+ voiceActor: false (boolean)
+ featured: false (boolean)
+ language: English (nullable) - Language casted in

## castings (object)
+ id: 1 (required)
+ type: castings (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/castings/1` (required)
+ attributes (castingsAttributes)
+ relationships (object)
    + media (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/castings/1/relationships/media`
            + related: `https://kitsu.io/api/edge/castings/1/media`
    + character (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/castings/1/relationships/character`
            + related: `https://kitsu.io/api/edge/castings/1/character`
    + person (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/castings/1/relationships/person`
            + related: `https://kitsu.io/api/edge/castings/1/person`
## charactersAttributes (object)
+ slug: jet-black
+ name: Jet Black
+ malId: 3 (number, nullable)
+ description: `Jet, known on his home satellite as the \"Black Dog\"...` (nullable)
+ image (object)
    + original: `https://media.kitsu.io/characters/images/1/original.jpg?1483096805` (nullable)

## characters (object)
+ id: 1 (required)
+ type: characters (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/characters/1` (required)
+ attributes (charactersAttributes)
+ relationships (object)
    + primaryMedia (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/characters/1/relationships/primary-media`
            + related: `https://kitsu.io/api/edge/characters/1/primary-media`
    + castings (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/characters/1/relationships/castings`
            + related: `https://kitsu.io/api/edge/characters/1/castings`
## mangaCharactersAttributes (object)
+ role: main (enum) - Role the character plays in the manga
    + main
    + supporting

## mangaCharacters (object)
+ id: 1 (required)
+ type: mangaCharacters (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/manga-characters/1` (required)
+ attributes (mangaCharactersAttributes)
+ relationships (object)
    + manga (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga-characters/1/relationships/manga`
            + related: `https://kitsu.io/api/edge/manga-characters/1/manga`
    + character (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga-characters/1/relationships/character`
            + related: `https://kitsu.io/api/edge/manga-characters/1/character`
## mangaStaffAttributes (object)
+ role: producer - Role of the person (Multiple roles are comma seperated)

## mangaStaff (object)
+ id: 1 (required)
+ type: mangaStaff (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/manga-staff/1` (required)
+ attributes (mangaStaffAttributes)
+ relationships (object)
    + manga (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga-staff/1/relationships/manga`
            + related: `https://kitsu.io/api/edge/manga-staff/1/manga`
    + person (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga-staff/1/relationships/person`
            + related: `https://kitsu.io/api/edge/manga-staff/1/person`
## peopleAttributes (object)
+ image: `https://media.kitsu.io/people/images/1/original.jpg?1416260317` (nullable)
+ name: Masahiko Minami
+ malId: 6519 (number, nullable)

## people (object)
+ id: 1 (required)
+ type: people (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/people/1` (required)
+ attributes (peopleAttributes)
+ relationships (object)
    + castings (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/people/1/relationships/castings`
            + related: `https://kitsu.io/api/edge/people/1/castings`
## producersAttributes (object)
+ slug: sunrise
+ name: Sunrise

## producers (object)
+ id: 1 (required)
+ type: producers (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/producers/1` (required)
+ attributes (producersAttributes)
+ relationships (object)
    + animeProductions (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/producers/1/relationships/anime-productions`
            + related: `https://kitsu.io/api/edge/producers/1/anime-productions`



## groupCategoriesAttributes (object)
+ name: `Anime & Manga`
+ slug: `anime-manga`
+ description (nullable)

## groupCategories (object)
+ id: 1 (required)
+ type: groupCategories (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/group-categories/1` (required)
+ attributes (groupCategoriesAttributes)


## groupMembersAttributes (object)
+ rank: admin (enum)
    + admin
    + mod
    + pleb
+ createdAt: `2015-02-17T21:16:53.211Z` - ISO 8601 date, YYYY-MM-DDThh:mm:ssTZD
+ unreadCount: 3 (number) - member's unread posts in group

## groupMembers (object)
+ id: 1 (required)
+ type: groupMembers (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/group-members/1` (required)
+ attributes (groupMembersAttributes)
+ relationships (object)
    + group (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/group-members/1/relationships/group`
            + related: `https://kitsu.io/api/edge/group-members/1/group`
    + user (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/group-members/1/relationships/user`
            + related: `https://kitsu.io/api/edge/group-members/1/user`
    + permissions (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/group-members/1/relationships/permissions`
            + related: `https://kitsu.io/api/edge/group-members/1/permissions`
    + notes (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/group-members/1/relationships/notes`
            + related: `https://kitsu.io/api/edge/group-members/1/notes`
## groupNeighbors (object)
+ id: 1 (required)
+ type: groupNeighbors (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/group-neighbors/1` (required)
+ relationships (object)
    + source (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/group-neighbors/1/relationships/source`
            + related: `https://kitsu.io/api/edge/group-neighbors/1/source`
    + destination (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/group-neighbors/1/relationships/destination`
            + related: `https://kitsu.io/api/edge/group-neighbors/1/destination`
## groupPermissionsAttributes (object)
+ permission: community (enum)
    + community
    + content
    + leaders
    + members
    + owner
    + tickets

## groupPermissions (object)
+ id: 1 (required)
+ type: groupPermissions (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/group-permissions/1` (required)
+ attributes (groupPermissionsAttributes)
+ relationships (object)
    + groupMember (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/group-permissions/1/relationships/group-member`
            + related: `https://kitsu.io/api/edge/group-permissions/1/group-member`



## groupsAttributes (object)
+ slug: `one-piece-group`
+ about: `Group for fans of the One Piece anime and or manga...`
+ locale (nullable)
+ membersCount: 541 (number)
+ name: One Piece group
+ nsfw: false (boolean)
+ privacy: open (enum)
    + closed
    + open
    + restricted
+ rules (nullable)
+ rulesFormatted (nullable)
+ leadersCount: 2 (number)
+ neighborsCount: 0 (number)
+ featured: false (boolean)
+ tagline (nullable)
+ lastActivityAt: `2017-05-06T18:48:33.944Z`
+ avatar (object)
    + tiny: `https://media.kitsu.io/groups/avatars/1/tiny.gif?1424323296`
    + small: `https://media.kitsu.io/groups/avatars/1/small.gif?1424323296`
    + medium: `https://media.kitsu.io/groups/avatars/1/medium.gif?1424323296`
    + large: `https://media.kitsu.io/groups/avatars/1/large.gif?1424323296`
    + original: `https://media.kitsu.io/groups/avatars/1/original.gif?1424323296`
+ coverImage (object)
    + tiny: `https://media.kitsu.io/groups/cover_images/1/tiny.jpg?1424209483`
    + small: `https://media.kitsu.io/groups/cover_images/1/small.jpg?1424209483`
    + large: `https://media.kitsu.io/groups/cover_images/1/large.jpg?1424209483`
    + original: `https://media.kitsu.io/groups/cover_images/1/original.jpeg?1424209483`

## groups (object)
+ id: 1 (required)
+ type: groups (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/groups/1` (required)
+ attributes (groupsAttributes)
+ relationships (object)
    + members (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/groups/1/relationships/members`
            + related: `https://kitsu.io/api/edge/groups/1/members`
    + neighbors (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/groups/1/relationships/neighbors`
            + related: `https://kitsu.io/api/edge/groups/1/neighbors`
    + tickets (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/groups/1/relationships/tickets`
            + related: `https://kitsu.io/api/edge/groups/1/tickets`
    + invites (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/groups/1/relationships/invites`
            + related: `https://kitsu.io/api/edge/groups/1/invites`
    + reports (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/groups/1/relationships/reports`
            + related: `https://kitsu.io/api/edge/groups/1/reports`
    + leaderChatMessages (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/groups/1/relationships/leader-chat-messages`
            + related: `https://kitsu.io/api/edge/groups/1/leader-chat-messages`
    + actionLogs (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/groups/1/relationships/action-logs`
            + related: `https://kitsu.io/api/edge/groups/1/action-logs`
    + category (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/groups/1/relationships/category`
            + related: `https://kitsu.io/api/edge/groups/1/category`



## animeAttributes (object)
+ slug: `cowboy-bebop`
+ synopsis: `In the year 2071, humanity has colonoized several of the planets and moons...`
+ coverImageTopOffset: 400 (number, nullable)
+ titles (object) - Languages in different languages. Other languages will be listed if they exist.
    + en: Cowboy Bebop (nullable)
    + en_jp: Cowbop Bebop (nullable)
    + ja_jp: カウボーイビバップ (nullable)
+ canonicalTitle: Cowboy Bebop
+ abbreviatedTitles: COWBOY BEBOP (array)
+ averageRating: 88.65
+ ratingFrequencies (object)
    + 2: 72
    + 3: 0
    + 4: 292
    + 5: 0
    + 6: 67
    + 7: 0
    + 8: 162
    + 9: 0
    + 10: 254
    + 11: 2
    + 12: 1393
    + 13: 10
    + 14: 1498
    + 15: 15
    + 16: 3767
    + 17: 28
    + 18: 4392
    + 19: 40
    + 20: 13607
+ userCount: 40405 (number)
+ favoritesCount: 3277 (number)
+ startDate: `1998-04-03` - YYYY-MM-DD date
+ endDate: `1999-04-04` - YYYY-MM-DD date
+ popularityRank: 10 (number)
+ ratingRank: 10 (number)
+ ageRating: R (enum, nullable)
    + G - General Audiences
    + PG - Parental Guidance Suggested
    + R - Restricted
    + R18 - Explicit
+ ageRatingGuide: `17+ (violence & profanity)` (nullable)
+ subtype: TV (enum)
    + ONA
    + OVA
    + TV
    + movie
    + music
    + special
+ status: finished (enum)
    + current
    + finished
    + tba
    + unreleased
    + upcoming
+ posterImage (object)
    + tiny: `https://media.kitsu.io/anime/poster_images/1/tiny.jpg?1431697256`
    + small: `https://media.kitsu.io/anime/poster_images/1/small.jpg?1431697256`
    + medium: `https://media.kitsu.io/anime/poster_images/1/medium.jpg?1431697256`
    + large: `https://media.kitsu.io/anime/poster_images/1/large.jpg?1431697256`
    + original: `https://media.kitsu.io/anime/poster_images/1/original.jpg?1431697256`
+ coverImage (object)
    + tiny: `https://media.kitsu.io/anime/cover_images/1/tiny.jpg?1416336000`
    + small: `https://media.kitsu.io/anime/cover_images/1/small.jpg?1416336000`
    + large: `https://media.kitsu.io/anime/cover_images/1/large.jpg?1416336000`
    + original: `https://media.kitsu.io/anime/cover_images/1/original.jpg?1416336000`
+ episodeCount: 26 (number)
+ episodeLength: 24 (number) - Length of episode in minutes
+ youtubeVideoId: qig4KOK2R2g - ID of a youtube trailer
+ showType: TV (enum) - Deprecated, use subtype
    + ONA
    + OVA
    + TV
    + movie
    + music
    + special
+ nsfw: false (boolean) - NSFW media requires authentication

## anime (object)
+ id: 1 (required)
+ type: anime (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/anime/1` (required)
+ attributes (animeAttributes)
+ relationships (object)
    + genres (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime/1/relationships/genres`
            + related: `https://kitsu.io/api/edge/anime/1/genres`
    + categories (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime/1/relationships/categories`
            + related: `https://kitsu.io/api/edge/anime/1/categories`
    + castings (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime/1/relationships/castings`
            + related: `https://kitsu.io/api/edge/anime/1/castings`
    + installments (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime/1/relationships/installments`
            + related: `https://kitsu.io/api/edge/anime/1/installments`
    + mappings (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime/1/relationships/mappings`
            + related: `https://kitsu.io/api/edge/anime/1/mappings`
    + reviews (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime/1/relationships/reviews`
            + related: `https://kitsu.io/api/edge/anime/1/reviews`
    + mediaRelationships (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime/1/relationships/media-relationships`
            + related: `https://kitsu.io/api/edge/anime/1/media-relationships`
    + episodes (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime/1/relationships/episodes`
            + related: `https://kitsu.io/api/edge/anime/1/episodes`
    + streamingLinks (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime/1/relationships/streaming-links`
            + related: `https://kitsu.io/api/edge/anime/1/streaming-links`
    + animeProductions (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime/1/relationships/anime-productions`
            + related: `https://kitsu.io/api/edge/anime/1/anime-productions`
    + animeCharacters (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime/1/relationships/anime-characters`
            + related: `https://kitsu.io/api/edge/anime/1/anime-characters`
    + animeStaff (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime/1/relationships/anime-staff`
            + related: `https://kitsu.io/api/edge/anime/1/anime-staff`
## categoriesAttributes (object)
+ title: Elf
+ description: `The origin of Elves (Norse; álfar(elves), álfr(elf)) can be found in ancient Norse mythology...`
+ totalMediaCount: 32 (number)
+ slug: elf
+ nsfw: false (boolean) - NSFW categories requires authentication
+ childCount: 0 (number)
+ image (object)
    + tiny: `https://media.kitsu.io/categories/images/10/tiny.jpg?1496212711`
    + small: `https://media.kitsu.io/categories/images/10/small.jpg?1496212711`
    + medium: `https://media.kitsu.io/categories/images/10/medium.jpg?1496212711`
    + large: `https://media.kitsu.io/categories/images/10/large.jpg?1496212711`
    + original: `https://media.kitsu.io/categories/images/10/original.jpg?1496212711`

## categories (object)
+ id: 10 (string, required)
+ type: categories (string, required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/categories/10` (required)
+ attributes (categoriesAttributes)
+ relationships (object)
    + parent (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/categories/10/relationships/parent`
            + related: `https://kitsu.io/api/edge/categories/10/parent`
    + anime (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/categories/10/relationships/anime`
            + related: `https://kitsu.io/api/edge/categories/10/anime`
    + drama (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/categories/10/relationships/drama`
            + related: `https://kitsu.io/api/edge/categories/10/drama`
    + manga (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/categories/10/relationships/manga`
            + related: `https://kitsu.io/api/edge/categories/10/manga`
## categoryFavorites (object)
+ id: 2 (required)
+ type: categoryFavorites (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/category-favorites/2` (required)
+ relationships (object)
    + user (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/category-favorites/2/relationships/user`
            + related: `https://kitsu.io/api/edge/category-favorites/2/user`
    + category (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/category-favorites/2/relationships/category`
            + related: `https://kitsu.io/api/edge/category-favorites/2/category`



## episodesAttributes (object)
+ titles (object)
    + en_jp: The $$60 Billion Man
+ canonicalTitle: The $$60 Billion Man
+ seasonNumber: 1 (number)
+ number: 1 (number)
+ synopsis: There are many rumors circulating...
+ airdate: `1998-04-01` - YYYY-MM-DD date
+ length (nullable) - length of episode in minutes
+ thumbnail (object)
    + original: `https://media.kitsu.io/episodes/thumbnails/28/original.jpg?1416327614`

## episodes (object)
+ id: 28 (required)
+ type: episodes (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/episodes/28` (required)
+ attributes (episodesAttributes)
+ relationships (object)
    + media (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/episodes/10/relationships/media`
            + related: `https://kitsu.io/api/edge/episodes/10/media`
## franchisesAttributes (object)
+ titles (object)
    + en: Darker than Black (nullable)
    + en_jp (nullable)
+ canonicalTitle (nullable)

## franchises (object)
+ id: 1 (required)
+ type: franchises (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/franchises/1` (required)
+ attributes (franchisesAttributes)
+ relationships (object)
    + installments (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/franchises/1/relationships/installments`
            + related: `https://kitsu.io/api/edge/franchises/1/installments`
## genresAttributes (object)
+ name: Action
+ slug: action
+ description (nullable)

## genres (object)
+ id: 1 (required)
+ type: genres (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/genres/1` (required)
+ attributes (genresAttributes)
## installmentsAttributes (object)
+ tag (nullable)
+ position (number)

## installments (object)
+ id: 1 (required)
+ type: installments (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/installments/1` (required)
+ attributes (animeCharactersAttributes)
+ relationships (object)
    + franchise (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/installments/1/relationships/franchise`
            + related: `https://kitsu.io/api/edge/installments/1/franchise`
     + media (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/installments/1/relationships/media`
            + related: `https://kitsu.io/api/edge/installments/1/media`
## mangaAttributes (object)
+ slug: `shingeki-no-kyojin`
+ synopsis: `Several hundred years ago...``
+ coverImageTopOffset: 112 (number, nullable)
+ titles (object) - Languages in different languages. Other languages will be listed if they exist.
    + en: Attack on Titan (nullable)
    + en_jp: Shingeki no Kyojin (nullable)
    + ja_jp: 進撃の巨人 (nullable)
+ canonicalTitle: Shingeki no Kyojin
+ abbreviatedTitles (array, nullable)
+ averageRating: 81.54
+ ratingFrequencies (object)
    + 2: 28
    + 3: 0
    + 4: 17
    + 5: 0
    + 6: 23
    + 7: 1
    + 8: 75
    + 9: 0
    + 10: 81
    + 11: 2
    + 12: 177
    + 13: 1
    + 14: 367
    + 15: 2
    + 16: 448
    + 17: 6
    + 18: 460
    + 19: 1
    + 20: 833
+ userCount: 5170 (number)
+ favoritesCount: 633 (number)
+ startDate: `2009-09-09` (nullable) - YYYY-MM-DD date
+ endDate (nullable) - YYYY-MM-DD date
+ popularityRank: 2 (number)
+ ratingRank: 163 (number)
+ ageRating: R (enum, nullable)
    + G - General Audiences
    + PG - Parental Guidance Suggested
    + R - Restricted
    + R18 - Explicit
+ ageRatingGuide: Horror (nullable)
+ subtype: manga (enum)
    + doujin
    + manga
    + manhua
    + manhwa
    + novel
    + oel
    + oneshot
+ status: finished (enum)
    + current
    + finished
    + tba
    + unreleased
    + upcoming
+ posterImage (object)
    + tiny: `https://media.kitsu.io/manga/poster_images/14916/tiny.jpg?1491099787`
    + small: `https://media.kitsu.io/manga/poster_images/14916/small.jpg?1491099787`
    + medium: `https://media.kitsu.io/manga/poster_images/14916/medium.jpg?1491099787`
    + large: `https://media.kitsu.io/manga/poster_images/14916/large.jpg?1491099787`
    + original: `https://media.kitsu.io/manga/poster_images/14916/original.jpg?1491099787`
+ coverImage (object)
    + tiny: `https://media.kitsu.io/manga/cover_images/14916/tiny.jpg?1471880895`
    + small: `https://media.kitsu.io/manga/cover_images/14916/small.jpg?1471880895`
    + large: `https://media.kitsu.io/manga/cover_images/14916/large.jpg?1471880895`
    + original: `https://media.kitsu.io/manga/cover_images/14916/original.jpg?1471880895`
+ chapterCount (number, nullable)
+ volumeCount: 0 (number, nullable)
+ serialization: Bessatsu Shounen Magazine (nullable)
+ mangaType: manga (enum) - Deprecated, use subtype
    + doujin
    + manga
    + manhua
    + manhwa
    + novel
    + oel
    + oneshot

## manga (object)
+ id: 14916 (required)
+ type: manga (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/manga/14916` (required)
+ attributes (animeAttributes)
+ relationships (object)
    + genres (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga/1/relationships/genres`
            + related: `https://kitsu.io/api/edge/manga/1/genres`
    + categories (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga/1/relationships/categories`
            + related: `https://kitsu.io/api/edge/manga/1/categories`
    + castings (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga/1/relationships/castings`
            + related: `https://kitsu.io/api/edge/manga/1/castings`
    + installments (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga/1/relationships/installments`
            + related: `https://kitsu.io/api/edge/manga/1/installments`
    + mappings (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga/1/relationships/mappings`
            + related: `https://kitsu.io/api/edge/manga/1/mappings`
    + reviews (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga/1/relationships/reviews`
            + related: `https://kitsu.io/api/edge/manga/1/reviews`
    + mediaRelationships (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga/1/relationships/media-relationships`
            + related: `https://kitsu.io/api/edge/manga/1/media-relationships`
    + chapters (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga/1/relationships/chapters`
            + related: `https://kitsu.io/api/edge/manga/1/chapters`
    + mangaCharacters (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga/1/relationships/manga-characters`
            + related: `https://kitsu.io/api/edge/manga/1/manga-characters`
    + mangaStaff (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga/1/relationships/manga-staff`
            + related: `https://kitsu.io/api/edge/manga/1/manga-staff`
## mappingsAttributes (object)
+ externalSite: myanimelist/anime (enum)
    + anidb
    + myanimelist/anime
    + myanimelist/manga
    + thetvdb/season
    + thetvdb/series
+ externalId: 31608

## mappings (object)
+ id: 1 (required)
+ type: mappings (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/mappings/1` (required)
+ attributes (mappingsAttributes)
+ relationships (object)
    + media (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/mappings/1/relationships/media`
            + related: `https://kitsu.io/api/edge/mappings/1/media`


## mediaFollows (object)
+ id: 1 (required)
+ type: mediaFollows (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/media-follows/1` (required)
+ relationships (object)
    + user (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/media-follows/1/relationships/user`
            + related: `https://kitsu.io/api/edge/media-follows/1/user`
    + media (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/media-follows/1/relationships/media`
            + related: `https://kitsu.io/api/edge/media-follows/1/media`


## mediaRelationshipsAttributes (object)
+ role: prequel (enum) - Relation to the source media
    + adaptation
    + alternative_setting
    + alternative_version
    + character
    + full_story
    + other
    + parent_story
    + prequel
    + sequel
    + side_story
    + spinoff
    + summary

## mediaRelationships (object)
+ id: 1 (required)
+ type: mediaRelationships (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/media-relationships/1` (required)
+ attributes (mediaRelationshipsAttributes)
+ relationships (object)
    + source (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/media-relationships/1/relationships/source`
            + related: `https://kitsu.io/api/edge/media-relationships/1/source`
    + destination (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/media-relationships/1/relationships/destination`
            + related: `https://kitsu.io/api/edge/media-relationships/1/destination`
## streamersAttributes (object)
+ siteName: Hulu
+ logo: `/logos/original/missing.png`

## streamers (object)
+ id: 1 (required)
+ type: streamers (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/streamers/1` (required)
+ attributes (streamersAttributes)
+ relationships (object)
    + streamingLinks (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/streamers/1/relationships/streaming-links`
            + related: `https://kitsu.io/api/edge/streamers/1/streaming-links`
## streamingLinksAttributes (object)
+ role: main
+ url: `http://www.hulu.com/hacklegend-of-the-twilight`
+ subs: en (array)
+ dubs: ja (array)

## streamingLinks (object)
+ id: 1 (required)
+ type: streamingLinks (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/streaming-links/1` (required)
+ attributes (streamingLinksAttributes)
+ relationships (object)
    + streamer (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/streaming-links/1/relationships/streamer`
            + related: `https://kitsu.io/api/edge/streaming-links/1/streamer`
    + media (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/streaming-links/1/relationships/media`
            + related: `https://kitsu.io/api/edge/streaming-links/1/media`



## commentsAttributes (object)
+ content: `This is a test.`
+ contentFormatted: `This is a test.`
+ blocked: false (boolean)
+ deletedAt (nullable)
+ createdAt: `2014-08-07T19:08:14.364Z`
+ likesCount: 0 (number)
+ repliesCount: 0 (number)
+ updatedAt: `2014-08-07T19:08:14.364Z`
+ editedAt (nullable)

## comments (object)
+ id: 7760392 (required)
+ type: comments (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/comments/7760392` (required)
+ attributes (commentsAttributes)
+ relationships (object)
    + user (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/comments/7760392/relationships/user`
            + related: `https://kitsu.io/api/edge/comments/7760392/user`
    + post (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/comments/7760392/relationships/post`
            + related: `https://kitsu.io/api/edge/comments/7760392/post`
    + parent (object)
        + links (object)
          + self: `https://kitsu.io/api/edge/comments/7760392/relationships/parent`
          + related: `https://kitsu.io/api/edge/comments/7760392/parent`
    + likes (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/comments/7760392/relationships/likes`
            + related: `https://kitsu.io/api/edge/comments/7760392/likes`
    + replies (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/comments/7760392/relationships/replies`
            + related: `https://kitsu.io/api/edge/comments/7760392/replies`
## postLikesAttributes (object)
+ createdAt: `2016-11-02T00:20:19.057Z`

## postLikes (object)
+ id: 1 (required)
+ type: postLikes (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/post-likes/1` (required)
+ attributes (postLikesAttributes)
+ relationships (object)
    + post (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/post-likes/1/relationships/post`
            + related: `https://kitsu.io/api/edge/post-likes/1/post`
    + user (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/post-likes/1/relationships/user`
            + related: `https://kitsu.io/api/edge/post-likes/1/user`
## postFollowsAttributes (object)
+ createdAt: `2017-05-04T03:53:54.049Z`
+ updatedAt: `2017-05-04T03:53:54.049Z`

## postFollows (object)
+ id: 3 (required)
+ type: postFollows (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/post-follows/3` (required)
+ attributes (postFollowsAttributes)
+ relationships (object)
    + post (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/post-follows/3/relationships/post`
            + related: `https://kitsu.io/api/edge/post-follows/3/post`
    + user (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/post-follows/3/relationships/user`
            + related: `https://kitsu.io/api/edge/post-follows/3/user`
## postsAttributes (object)
+ content: `"I like cats. http://i.imgur.com/mJBJfzf.jpg`
+ contentFormatted: `I like cats. <a href=\"http://i.imgur.com/mJBJfzf.jpg\"...`
+ commensCount: 13 (number)
+ postLikesCount: 2 (number)
+ spoiler: false (boolean)
+ nsfw: false (boolean)
+ blocked: false (boolean)
+ deletedAt (nullable)
+ createdAt: `2013-06-21T20:15:54.522Z`
+ updatedAt: `2017-05-21T04:05:30.561Z`
+ topLevelCommentsCount: 12 (number)
+ editedAt (nullable)

## posts (object)
+ id: 167585 (required)
+ type: posts (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/posts/167585` (required)
+ attributes (postsAttributes)
+ relationships (object)
    + user (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/posts/167585/relationships/user`
            + related: `https://kitsu.io/api/edge/posts/167585/user`
    + targetUser (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/posts/167585/relationships/target-user`
            + related: `https://kitsu.io/api/edge/posts/167585/target-user`
    + targetGroup (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/posts/167585/relationships/target-group`
            + related: `https://kitsu.io/api/edge/posts/167585/target-group`
    + media (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/posts/167585/relationships/media`
            + related: `https://kitsu.io/api/edge/posts/167585/media`
    + spoiledUnit (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/posts/167585/relationships/spoiled-unit`
            + related: `https://kitsu.io/api/edge/posts/167585/spoiled-unit`
    + postLikes (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/posts/167585/relationships/post-likes`
            + related: `https://kitsu.io/api/edge/posts/167585/post-likes`
    + comments (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/posts/167585/relationships/comments`
            + related: `https://kitsu.io/api/edge/posts/167585/comments`



## reviewLikes (object)
+ id: 1 (required)
+ type: reviewLikes (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/review-likes/1` (required)
+ relationships (object)
    + review (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/review-likes/1/relationships/review`
            + related: `https://kitsu.io/api/edge/review-likes/1/review`
    + user (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/review-likes/1/relationships/user`
            + related: `https://kitsu.io/api/edge/review-likes/1/user`
## reviewsAttributes (object)
+ content: `The Anime \"Seinfeld\". Seriously, I love this show. It shines in it's dialog, and if you...`
+ contentFormatted: `<p>The Anime \"Seinfeld\". Seriously, I love this show. It shines in it's dialog, and if you...`
+ likesCount: 3 (number)
+ progress (nullable)
+ rating: 20 (number)
+ source: hummingbird
+ spoiler: false (boolean)
+ createdAt: `2013-03-04T18:29:01.441Z`
+ updatedAt: `2016-12-19T08:01:58.532Z`

## reviews (object)
+ id: 4 (required)
+ type: reviews (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/reviews/4` (required)
+ attributes (reviewsAttributes)
+ relationships (object)
    + libraryEntry (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/reviews/774/relationships/library-entry`
            + related: `https://kitsu.io/api/edge/reviews/774/library-entry`
    + media (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/reviews/774/relationships/media`
            + related: `https://kitsu.io/api/edge/reviews/774/media`
    + user (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/reviews/774/relationships/user`
            + related: `https://kitsu.io/api/edge/reviews/774/user`

## siteAnnouncementsAttributes (object)
+ title: `It's update time!`
+ description: `A new release is upon us. Featuring mostly bug fixes but a few quality of life tweaks!`
+ imageUrl: `https://media.giphy.com/media/3og0IEXRvwMN0cLSaQ/giphy.gif`
+ link: `https://medium.com/heykitsu/kitsu-release-notes-may-11th-2017-803bacc10e34`

## siteAnnouncements (object)
+ id: 2 (required)
+ type: siteAnnouncements (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/site-announcements/2` (required)
+ attributes (siteAnnouncementsAttributes)
+ relationships (object)
    + user (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/site-announcements/2/relationships/user`
            + related: `https://kitsu.io/api/edge/site-announcements/2/user`






## favoritesAttributes (object)
+ favRank: 11 (number)

## favorites (object)
+ id: 1 (required)
+ type: favorites (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/favorites/1` (required)
+ attributes (favoritesAttributes)
+ relationships (object)
    + user (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/favorites/1/relationships/user`
            + related: `https://kitsu.io/api/edge/favorites/1/user`
    + item (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/favorites/1/relationships/item`
            + related: `https://kitsu.io/api/edge/favorites/1/item`

## profileLinkSitesAttributes (object)
+ name: Twitter

## profileLinkSites (object)
+ id: 1 (required)
+ type: profileLinkSites (required)
+ links (object, required)
    + self: `https://kitsu.io/api/edge/profile-link-sites/1` (required)
+ attributes (profileLinkSitesAttributes)
## profileLinksAttributes (object)
[...]
