FORMAT: 1A
HOST: https://kitsu.io/api/edge

# Kitsu API

Kitsu is a modern anime discovery platform that helps you track the anime you're watching, discover new anime and socialize with other fans.

With the Kitsu API you can do everything the client can do and much more.

# Versioning

Every year, we release a new version of the API, numbered by the last two digits of the current year. For example, the root URL of this (the 2017) release is `https://kitsu.io/api/17/`.

No fields, endpoints, or resources will be removed until the next year's release, but may be changed to return empty values (arrays, empty strings, etc.) before then. Fields, endpoints, and resources may be added throughout the lifetime of a release.

In addition to these versioned APIs, there is access to the same API our website uses. However, this offers no guarantees: anything could change at any time. We suggest you don't use this, but if you need to, it can be accessed at `https://kitsu.io/api/edge/`.

# Life Cycle

Upon release of a new version, the previous version will be maintained for one year or until usage drops below 2% of API traffic.

During this period, it will not be updated to have any new fields, endpoints, or resources. You are expected to keep your applications running on the latest version of the API. For most applications, upgrading should take no more than a few hours of work.

# JSON API

The Kitsu API implements the JSON API specification. This means there are some notable semantics to how you consume it, but understanding it will take a lot of the work of using it out of your hands.

These docs will include a short overview of the capabilities, but you can consult the [JSON API Specification][jsonapi] for more information.

As per the JSON API specification, all requests to the API should contain these headers:

```
Accept: application/vnd.api+json
Content-Type: application/vnd.api+json
```

You can be more specific about the data you want to retrieve by using URL parameters and are outlined below.

**Note:** This documentation will display parameters with brackets (`[` and `]`) for readability, but actual URLs will need to be encoded (`%5B` and `%5D`).

## Filtering and Search

Filtering lets you query data that contains certain matching attributes or relationships. These take the form of `filter[attribute]=value`.

For example, you can request all the anime of the Adventure genre using `/anime?filter[genres]=adventure`.

You can also search for media based on the query text by using `filter[text]={query}`.

## Pagination

You can choose how much of a resource to receive by specifying pagination parameters. Pagination is supported via `limit` and `offset`. Resources are paginated in groups of `20` by default.

`/anime?page[limit]=5&page[offset]=0`

The response will include URLs for the first, next and last page of resources in the `links` object based on your request.

```
"links": {
    "first": "https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=0",
    "next": "https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=5",
    "last": "https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=12062"
}
```

## Sorting

Sorting by attributes is also supported. By default, sorts are applied in ascending order. You can request a descending order by prepending `-` to the parameter. You can use a comma-delimited list to sort by multiple attributes.

`/users?sort=-followersCount,-followingCount`

## Includes

You can include related resources with `include=[relationship]`. You can also specify successive relationships using a `.`. A comma-delimited list can be used to request multiple relationships.

`/library-entries?include=user,anime.genres`

## Sparse Fieldsets

You can request a resource to only return a specific set of fields in its response. For example, to only receive a user's name and creation date:

`/users?fields[users]=name,createdAt`

## Client Implementations

JSON API has a great advantage in that since its standardised, API-agnostic tools can be made to abstract away the semantics of consuming and working with the data. It is recommended that you use a JSON API client to implement the Kitsu API for this reason.

Many implementations in over 13 languages can be found on the [JSON API website][jsonapi-client].

# Questions?

If you have any questions, you can join our Slack by sending an email to josh@kitsu.io or pinging [@wopian][wopian], [@matthewdias][matthewdias] or [@nuck][nuck] on Kitsu.

[jsonapi]:http://jsonapi.org/format/
[jsonapi-client]:http://jsonapi.org/implementations/#client-libraries
[wopian]:https://kitsu.io/users/wopian
[matthewdias]:https://kitsu.io/users/matthewdias
[nuck]:https://kitsu.io/users/nuck

# Group Admin

TBA

# Group Anime

## List [/anime]

TBA

### Fetch [GET]

+ Request
    + Headers

            Accept: application/vnd.api+json
            Content-Type: application/vnd.api+json

+ Response 200 (application/vnd.api+json)

        {"data":[{"id":"1","type":"anime","links":{"self":"https://kitsu.io/api/edge/anime/1"},"attributes":{"slug":"cowboy-bebop","synopsis":"In the year 2071, humanity has colonized several of the planets and moons of the solar system leaving the now uninhabitable surface of planet Earth behind. The Inter Solar System Police attempts to keep peace in the galaxy, aided in part by outlaw bounty hunters, referred to as \"Cowboys\". The ragtag team aboard the spaceship Bebop are two such individuals.\r\nMellow and carefree Spike Spiegel is balanced by his boisterous, pragmatic partner Jet Black as the pair makes a living chasing bounties and collecting rewards. Thrown off course by the addition of new members that they meet in their travels—Ein, a genetically engineered, highly intelligent Welsh Corgi; femme fatale Faye Valentine, an enigmatic trickster with memory loss; and the strange computer whiz kid Edward Wong—the crew embarks on thrilling adventures that unravel each member's dark and mysterious past little by little. \r\nWell-balanced with high density action and light-hearted comedy, Cowboy Bebop is a space Western classic and an homage to the smooth and improvised music it is named after.  \r\n[Written by MAL Rewrite]","coverImageTopOffset":400,"titles":{"en":"Cowboy Bebop","en_jp":"Cowboy Bebop","ja_jp":"カウボーイビバップ"},"canonicalTitle":"Cowboy Bebop","abbreviatedTitles":["COWBOY BEBOP"],"averageRating":"88.65","ratingFrequencies":{"2":"72","3":"0","4":"292","5":"0","6":"66","7":"0","8":"161","9":"0","10":"255","11":"1","12":"1391","13":"9","14":"1496","15":"12","16":"3757","17":"26","18":"4380","19":"36","20":"13576"},"userCount":40405,"favoritesCount":3277,"startDate":"1998-04-03","endDate":"1999-04-24","popularityRank":10,"ratingRank":10,"ageRating":"R","ageRatingGuide":"17+ (violence & profanity)","subtype":"TV","posterImage":{"tiny":"https://media.kitsu.io/anime/poster_images/1/tiny.jpg?1431697256","small":"https://media.kitsu.io/anime/poster_images/1/small.jpg?1431697256","medium":"https://media.kitsu.io/anime/poster_images/1/medium.jpg?1431697256","large":"https://media.kitsu.io/anime/poster_images/1/large.jpg?1431697256","original":"https://media.kitsu.io/anime/poster_images/1/original.jpg?1431697256"},"coverImage":{"tiny":"https://media.kitsu.io/anime/cover_images/1/tiny.jpg?1416336000","small":"https://media.kitsu.io/anime/cover_images/1/small.jpg?1416336000","large":"https://media.kitsu.io/anime/cover_images/1/large.jpg?1416336000","original":"https://media.kitsu.io/anime/cover_images/1/original.jpg?1416336000"},"episodeCount":26,"episodeLength":24,"youtubeVideoId":"qig4KOK2R2g","showType":"TV","nsfw":false},"relationships":{"genres":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/genres","related":"https://kitsu.io/api/edge/anime/1/genres"}},"castings":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/castings","related":"https://kitsu.io/api/edge/anime/1/castings"}},"installments":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/installments","related":"https://kitsu.io/api/edge/anime/1/installments"}},"mappings":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/mappings","related":"https://kitsu.io/api/edge/anime/1/mappings"}},"reviews":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/reviews","related":"https://kitsu.io/api/edge/anime/1/reviews"}},"mediaRelationships":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/media-relationships","related":"https://kitsu.io/api/edge/anime/1/media-relationships"}},"episodes":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/episodes","related":"https://kitsu.io/api/edge/anime/1/episodes"}},"streamingLinks":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/streaming-links","related":"https://kitsu.io/api/edge/anime/1/streaming-links"}},"animeProductions":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/anime-productions","related":"https://kitsu.io/api/edge/anime/1/anime-productions"}},"animeCharacters":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/anime-characters","related":"https://kitsu.io/api/edge/anime/1/anime-characters"}},"animeStaff":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/anime-staff","related":"https://kitsu.io/api/edge/anime/1/anime-staff"}}}},{"id":"2","type":"anime","links":{"self":"https://kitsu.io/api/edge/anime/2"},"attributes":{"slug":"cowboy-bebop-tengoku-no-tobira","synopsis":"Another day, another bounty—such is the life of the often unlucky crew of the Bebop. However, this routine is interrupted when Faye, who is chasing a fairly worthless target on Mars, witnesses an oil tanker suddenly explode, causing mass hysteria. As casualties mount due to a strange disease spreading through the smoke from the blast, a whopping three hundred million woolong price is placed on the head of the supposed perpetrator.\r\nWith lives at stake and a solution to their money problems in sight, the Bebop crew springs into action. Spike, Jet, Faye, and Edward, followed closely by Ein, split up to pursue different leads across Alba City. Through their individual investigations, they discover a cover-up scheme involving a pharmaceutical company, revealing a plot that reaches much further than the ragtag team of bounty hunters could have realized.\r\n[Written by MAL Rewrite]","coverImageTopOffset":220,"titles":{"en":"Cowboy Bebop: The Movie","en_jp":"Cowboy Bebop: Tengoku no Tobira","ja_jp":"カウボーイビバップ天国の扉"},"canonicalTitle":"Cowboy Bebop: Tengoku no Tobira","abbreviatedTitles":["Cowboy Bebop: Knockin' on Heaven's Door"],"averageRating":"85.5","ratingFrequencies":{"2":"7","3":"0","4":"27","5":"0","6":"9","7":"0","8":"43","9":"0","10":"62","11":"1","12":"426","13":"4","14":"770","15":"4","16":"2091","17":"14","18":"1568","19":"9","20":"2549"},"userCount":12974,"favoritesCount":270,"startDate":"2001-09-01","endDate":null,"popularityRank":221,"ratingRank":83,"ageRating":"R","ageRatingGuide":"17+ (violence & profanity)","subtype":"movie","posterImage":{"tiny":"https://media.kitsu.io/anime/poster_images/2/tiny.jpg?1435249715","small":"https://media.kitsu.io/anime/poster_images/2/small.jpg?1435249715","medium":"https://media.kitsu.io/anime/poster_images/2/medium.jpg?1435249715","large":"https://media.kitsu.io/anime/poster_images/2/large.jpg?1435249715","original":"https://media.kitsu.io/anime/poster_images/2/original.jpg?1435249715"},"coverImage":{"tiny":"https://media.kitsu.io/anime/cover_images/2/tiny.jpg?1469656732","small":"https://media.kitsu.io/anime/cover_images/2/small.jpg?1469656732","large":"https://media.kitsu.io/anime/cover_images/2/large.jpg?1469656732","original":"https://media.kitsu.io/anime/cover_images/2/original.png?1469656732"},"episodeCount":1,"episodeLength":114,"youtubeVideoId":"hc7IxJ93jtM","showType":"movie","nsfw":false},"relationships":{"genres":{"links":{"self":"https://kitsu.io/api/edge/anime/2/relationships/genres","related":"https://kitsu.io/api/edge/anime/2/genres"}},"castings":{"links":{"self":"https://kitsu.io/api/edge/anime/2/relationships/castings","related":"https://kitsu.io/api/edge/anime/2/castings"}},"installments":{"links":{"self":"https://kitsu.io/api/edge/anime/2/relationships/installments","related":"https://kitsu.io/api/edge/anime/2/installments"}},"mappings":{"links":{"self":"https://kitsu.io/api/edge/anime/2/relationships/mappings","related":"https://kitsu.io/api/edge/anime/2/mappings"}},"reviews":{"links":{"self":"https://kitsu.io/api/edge/anime/2/relationships/reviews","related":"https://kitsu.io/api/edge/anime/2/reviews"}},"mediaRelationships":{"links":{"self":"https://kitsu.io/api/edge/anime/2/relationships/media-relationships","related":"https://kitsu.io/api/edge/anime/2/media-relationships"}},"episodes":{"links":{"self":"https://kitsu.io/api/edge/anime/2/relationships/episodes","related":"https://kitsu.io/api/edge/anime/2/episodes"}},"streamingLinks":{"links":{"self":"https://kitsu.io/api/edge/anime/2/relationships/streaming-links","related":"https://kitsu.io/api/edge/anime/2/streaming-links"}},"animeProductions":{"links":{"self":"https://kitsu.io/api/edge/anime/2/relationships/anime-productions","related":"https://kitsu.io/api/edge/anime/2/anime-productions"}},"animeCharacters":{"links":{"self":"https://kitsu.io/api/edge/anime/2/relationships/anime-characters","related":"https://kitsu.io/api/edge/anime/2/anime-characters"}},"animeStaff":{"links":{"self":"https://kitsu.io/api/edge/anime/2/relationships/anime-staff","related":"https://kitsu.io/api/edge/anime/2/anime-staff"}}}},{"id":"3","type":"anime","links":{"self":"https://kitsu.io/api/edge/anime/3"},"attributes":{"slug":"trigun","synopsis":"Vash the Stampede is the man with a $$60,000,000 bounty on his head. The reason: he's a merciless villain who lays waste to all those that oppose him and flattens entire cities for fun, garnering him the title \"The Humanoid Typhoon.\" He leaves a trail of death and destruction wherever he goes, and anyone can count themselves dead if they so much as make eye contact—or so the rumors say. In actuality, Vash is a huge softie who claims to have never taken a life and avoids violence at all costs.\r\nWith his crazy doughnut obsession and buffoonish attitude in tow, Vash traverses the wasteland of the planet Gunsmoke, all the while followed by two insurance agents, Meryl Stryfe and Milly Thompson, who attempt to minimize his impact on the public. But soon, their misadventures evolve into life-or-death situations as a group of legendary assassins are summoned to bring about suffering to the trio. Vash's agonizing past will be unraveled and his morality and principles pushed to the breaking point.\r\n[Written by MAL Rewrite]","coverImageTopOffset":100,"titles":{"en":"Trigun","en_jp":"Trigun","ja_jp":"トライガン"},"canonicalTitle":"Trigun","abbreviatedTitles":[],"averageRating":"84.25","ratingFrequencies":{"2":"12","3":"0","4":"41","5":"1","6":"19","7":"0","8":"72","9":"0","10":"167","11":"0","12":"719","13":"3","14":"1267","15":"7","16":"2605","17":"10","18":"1831","19":"8","20":"3321"},"userCount":19619,"favoritesCount":982,"startDate":"1998-04-01","endDate":"1998-09-30","popularityRank":98,"ratingRank":139,"ageRating":"PG","ageRatingGuide":"Teens 13 or older","subtype":"TV","posterImage":{"tiny":"https://media.kitsu.io/anime/poster_images/3/tiny.jpg?1432381605","small":"https://media.kitsu.io/anime/poster_images/3/small.jpg?1432381605","medium":"https://media.kitsu.io/anime/poster_images/3/medium.jpg?1432381605","large":"https://media.kitsu.io/anime/poster_images/3/large.jpg?1432381605","original":"https://media.kitsu.io/anime/poster_images/3/original.jpg?1432381605"},"coverImage":{"tiny":"https://media.kitsu.io/anime/cover_images/3/tiny.jpg?1416236342","small":"https://media.kitsu.io/anime/cover_images/3/small.jpg?1416236342","large":"https://media.kitsu.io/anime/cover_images/3/large.jpg?1416236342","original":"https://media.kitsu.io/anime/cover_images/3/original.jpg?1416236342"},"episodeCount":26,"episodeLength":24,"youtubeVideoId":"bJVyIXeUznY","showType":"TV","nsfw":false},"relationships":{"genres":{"links":{"self":"https://kitsu.io/api/edge/anime/3/relationships/genres","related":"https://kitsu.io/api/edge/anime/3/genres"}},"castings":{"links":{"self":"https://kitsu.io/api/edge/anime/3/relationships/castings","related":"https://kitsu.io/api/edge/anime/3/castings"}},"installments":{"links":{"self":"https://kitsu.io/api/edge/anime/3/relationships/installments","related":"https://kitsu.io/api/edge/anime/3/installments"}},"mappings":{"links":{"self":"https://kitsu.io/api/edge/anime/3/relationships/mappings","related":"https://kitsu.io/api/edge/anime/3/mappings"}},"reviews":{"links":{"self":"https://kitsu.io/api/edge/anime/3/relationships/reviews","related":"https://kitsu.io/api/edge/anime/3/reviews"}},"mediaRelationships":{"links":{"self":"https://kitsu.io/api/edge/anime/3/relationships/media-relationships","related":"https://kitsu.io/api/edge/anime/3/media-relationships"}},"episodes":{"links":{"self":"https://kitsu.io/api/edge/anime/3/relationships/episodes","related":"https://kitsu.io/api/edge/anime/3/episodes"}},"streamingLinks":{"links":{"self":"https://kitsu.io/api/edge/anime/3/relationships/streaming-links","related":"https://kitsu.io/api/edge/anime/3/streaming-links"}},"animeProductions":{"links":{"self":"https://kitsu.io/api/edge/anime/3/relationships/anime-productions","related":"https://kitsu.io/api/edge/anime/3/anime-productions"}},"animeCharacters":{"links":{"self":"https://kitsu.io/api/edge/anime/3/relationships/anime-characters","related":"https://kitsu.io/api/edge/anime/3/anime-characters"}},"animeStaff":{"links":{"self":"https://kitsu.io/api/edge/anime/3/relationships/anime-staff","related":"https://kitsu.io/api/edge/anime/3/anime-staff"}}}},{"id":"4","type":"anime","links":{"self":"https://kitsu.io/api/edge/anime/4"},"attributes":{"slug":"witch-hunter-robin","synopsis":"Witches are individuals with special powers like ESP, telekinesis, mind control, etc. (not the typical hogwart and newt potions). Robin, a 15-year-old craft user, arrives from Italy to Japan to work for an organization named STN Japan Division (STN-J) as a replacement for one of STN-J's witch hunters who was recently killed. Unlike other divisions of STN, STN-J tries to capture the witches alive in order to learn why and how they became witches in the first place.\n(Source: ANN)","coverImageTopOffset":230,"titles":{"en":"Witch Hunter Robin","en_jp":"Witch Hunter Robin","ja_jp":"ウィッチハンター ロビン"},"canonicalTitle":"Witch Hunter Robin","abbreviatedTitles":["WHR"],"averageRating":"73.19","ratingFrequencies":{"2":"2","3":"0","4":"19","5":"1","6":"10","7":"0","8":"56","9":"1","10":"111","11":"0","12":"302","13":"0","14":"327","15":"3","16":"381","17":"0","18":"131","19":"0","20":"209"},"userCount":3856,"favoritesCount":36,"startDate":"2002-07-02","endDate":"2002-12-24","popularityRank":1051,"ratingRank":1869,"ageRating":"PG","ageRatingGuide":"Teens 13 or older","subtype":"TV","posterImage":{"tiny":"https://media.kitsu.io/anime/poster_images/4/tiny.jpg?1408440451","small":"https://media.kitsu.io/anime/poster_images/4/small.jpg?1408440451","medium":"https://media.kitsu.io/anime/poster_images/4/medium.jpg?1408440451","large":"https://media.kitsu.io/anime/poster_images/4/large.jpg?1408440451","original":"https://media.kitsu.io/anime/poster_images/4/original.jpg?1408440451"},"coverImage":{"tiny":"https://media.kitsu.io/anime/cover_images/4/tiny.jpg?1416440692","small":"https://media.kitsu.io/anime/cover_images/4/small.jpg?1416440692","large":"https://media.kitsu.io/anime/cover_images/4/large.jpg?1416440692","original":"https://media.kitsu.io/anime/cover_images/4/original.jpg?1416440692"},"episodeCount":26,"episodeLength":25,"youtubeVideoId":"7UkaILjPk8M","showType":"TV","nsfw":false},"relationships":{"genres":{"links":{"self":"https://kitsu.io/api/edge/anime/4/relationships/genres","related":"https://kitsu.io/api/edge/anime/4/genres"}},"castings":{"links":{"self":"https://kitsu.io/api/edge/anime/4/relationships/castings","related":"https://kitsu.io/api/edge/anime/4/castings"}},"installments":{"links":{"self":"https://kitsu.io/api/edge/anime/4/relationships/installments","related":"https://kitsu.io/api/edge/anime/4/installments"}},"mappings":{"links":{"self":"https://kitsu.io/api/edge/anime/4/relationships/mappings","related":"https://kitsu.io/api/edge/anime/4/mappings"}},"reviews":{"links":{"self":"https://kitsu.io/api/edge/anime/4/relationships/reviews","related":"https://kitsu.io/api/edge/anime/4/reviews"}},"mediaRelationships":{"links":{"self":"https://kitsu.io/api/edge/anime/4/relationships/media-relationships","related":"https://kitsu.io/api/edge/anime/4/media-relationships"}},"episodes":{"links":{"self":"https://kitsu.io/api/edge/anime/4/relationships/episodes","related":"https://kitsu.io/api/edge/anime/4/episodes"}},"streamingLinks":{"links":{"self":"https://kitsu.io/api/edge/anime/4/relationships/streaming-links","related":"https://kitsu.io/api/edge/anime/4/streaming-links"}},"animeProductions":{"links":{"self":"https://kitsu.io/api/edge/anime/4/relationships/anime-productions","related":"https://kitsu.io/api/edge/anime/4/anime-productions"}},"animeCharacters":{"links":{"self":"https://kitsu.io/api/edge/anime/4/relationships/anime-characters","related":"https://kitsu.io/api/edge/anime/4/anime-characters"}},"animeStaff":{"links":{"self":"https://kitsu.io/api/edge/anime/4/relationships/anime-staff","related":"https://kitsu.io/api/edge/anime/4/anime-staff"}}}},{"id":"5","type":"anime","links":{"self":"https://kitsu.io/api/edge/anime/5"},"attributes":{"slug":"beet-the-vandel-buster","synopsis":"It is the dark century and the people are suffering under the rule of the devil, Vandel, who is able to manipulate monsters. The Vandel Busters are a group of people who hunt these devils, and among them, the Zenon Squad is known to be the strongest busters on the continent. A young boy, Beet, dreams of joining the Zenon Squad. However, one day, as a result of Beet's fault, the Zenon squad was defeated by the devil, Beltose. The five dying busters sacrificed their life power into their five weapons, Saiga. After giving their weapons to Beet, they passed away. Years have passed since then and the young Vandel Buster, Beet, begins his adventure to carry out the Zenon Squad's will to put an end to the dark century. ","coverImageTopOffset":0,"titles":{"en":"Beet the Vandel Buster","en_jp":"Beet the Vandel Buster","ja_jp":"冒険王ビィト"},"canonicalTitle":"Beet the Vandel Buster","abbreviatedTitles":["Adventure King Beet","Bouken Ou Beet"],"averageRating":"69.48","ratingFrequencies":{"2":"2","3":"0","4":"4","5":"0","6":"0","7":"0","8":"16","9":"0","10":"21","11":"0","12":"36","13":"0","14":"43","15":"0","16":"36","17":"0","18":"12","19":"0","20":"15"},"userCount":487,"favoritesCount":2,"startDate":"2004-09-30","endDate":"2005-09-29","popularityRank":3686,"ratingRank":3283,"ageRating":"PG","ageRatingGuide":"Children","subtype":"TV","posterImage":{"tiny":"https://media.kitsu.io/anime/poster_images/5/tiny.jpg?1408440453","small":"https://media.kitsu.io/anime/poster_images/5/small.jpg?1408440453","medium":"https://media.kitsu.io/anime/poster_images/5/medium.jpg?1408440453","large":"https://media.kitsu.io/anime/poster_images/5/large.jpg?1408440453","original":"https://media.kitsu.io/anime/poster_images/5/original.jpg?1408440453"},"coverImage":null,"episodeCount":52,"episodeLength":23,"youtubeVideoId":null,"showType":"TV","nsfw":false},"relationships":{"genres":{"links":{"self":"https://kitsu.io/api/edge/anime/5/relationships/genres","related":"https://kitsu.io/api/edge/anime/5/genres"}},"castings":{"links":{"self":"https://kitsu.io/api/edge/anime/5/relationships/castings","related":"https://kitsu.io/api/edge/anime/5/castings"}},"installments":{"links":{"self":"https://kitsu.io/api/edge/anime/5/relationships/installments","related":"https://kitsu.io/api/edge/anime/5/installments"}},"mappings":{"links":{"self":"https://kitsu.io/api/edge/anime/5/relationships/mappings","related":"https://kitsu.io/api/edge/anime/5/mappings"}},"reviews":{"links":{"self":"https://kitsu.io/api/edge/anime/5/relationships/reviews","related":"https://kitsu.io/api/edge/anime/5/reviews"}},"mediaRelationships":{"links":{"self":"https://kitsu.io/api/edge/anime/5/relationships/media-relationships","related":"https://kitsu.io/api/edge/anime/5/media-relationships"}},"episodes":{"links":{"self":"https://kitsu.io/api/edge/anime/5/relationships/episodes","related":"https://kitsu.io/api/edge/anime/5/episodes"}},"streamingLinks":{"links":{"self":"https://kitsu.io/api/edge/anime/5/relationships/streaming-links","related":"https://kitsu.io/api/edge/anime/5/streaming-links"}},"animeProductions":{"links":{"self":"https://kitsu.io/api/edge/anime/5/relationships/anime-productions","related":"https://kitsu.io/api/edge/anime/5/anime-productions"}},"animeCharacters":{"links":{"self":"https://kitsu.io/api/edge/anime/5/relationships/anime-characters","related":"https://kitsu.io/api/edge/anime/5/anime-characters"}},"animeStaff":{"links":{"self":"https://kitsu.io/api/edge/anime/5/relationships/anime-staff","related":"https://kitsu.io/api/edge/anime/5/anime-staff"}}}},{"id":"6","type":"anime","links":{"self":"https://kitsu.io/api/edge/anime/6"},"attributes":{"slug":"eyeshield-21","synopsis":"Sena is like any other shy kid starting high school; he's just trying to survive. Constantly bullied, he's accustomed to running away.\r\nSurviving high school is about to become a lot more difficult after Hiruma, captain of the school's American football team, witnesses Sena's incredible agility and speed during an escape from some bullies. Hiruma schemes to make Sena the running back of his school team, The Devil Bats, hoping that it will turn around the squad's fortunes from being the laughingstock of Japan's high school leagues, to title contender.\r\nTo protect his precious star player from rivaling recruiters, he enlists Sena as \"team secretary,\" giving him a visored helmet and the nickname \"Eyeshield 21\" to hide his identity.\r\nThe Devilbats will look to make their way to the Christmas Bowl, an annual tournament attended by the best football teams in Japan, with \"Eyeshield 21\" leading the way. Will they be able to win the Christmas Bowl? Will Sena be able to transform from a timid, undersized freshman to an all-star player? Put on your pads and helmet to find out!","coverImageTopOffset":214,"titles":{"en_jp":"Eyeshield 21","ja_jp":"アイシールド21"},"canonicalTitle":"Eyeshield 21","abbreviatedTitles":["Eyeshield21"],"averageRating":"78.53","ratingFrequencies":{"2":"13","3":"0","4":"13","5":"0","6":"14","7":"0","8":"48","9":"0","10":"74","11":"0","12":"220","13":"2","14":"365","15":"1","16":"501","17":"1","18":"261","19":"0","20":"455"},"userCount":4585,"favoritesCount":93,"startDate":"2005-04-06","endDate":"2008-03-19","popularityRank":896,"ratingRank":653,"ageRating":"PG","ageRatingGuide":"Teens 13 or older","subtype":"TV","posterImage":{"tiny":"https://media.kitsu.io/anime/poster_images/6/tiny.jpg?1420129354","small":"https://media.kitsu.io/anime/poster_images/6/small.jpg?1420129354","medium":"https://media.kitsu.io/anime/poster_images/6/medium.jpg?1420129354","large":"https://media.kitsu.io/anime/poster_images/6/large.jpg?1420129354","original":"https://media.kitsu.io/anime/poster_images/6/original.jpg?1420129354"},"coverImage":{"tiny":"https://media.kitsu.io/anime/cover_images/6/tiny.jpg?1417894049","small":"https://media.kitsu.io/anime/cover_images/6/small.jpg?1417894049","large":"https://media.kitsu.io/anime/cover_images/6/large.jpg?1417894049","original":"https://media.kitsu.io/anime/cover_images/6/original.jpg?1417894049"},"episodeCount":145,"episodeLength":23,"youtubeVideoId":null,"showType":"TV","nsfw":false},"relationships":{"genres":{"links":{"self":"https://kitsu.io/api/edge/anime/6/relationships/genres","related":"https://kitsu.io/api/edge/anime/6/genres"}},"castings":{"links":{"self":"https://kitsu.io/api/edge/anime/6/relationships/castings","related":"https://kitsu.io/api/edge/anime/6/castings"}},"installments":{"links":{"self":"https://kitsu.io/api/edge/anime/6/relationships/installments","related":"https://kitsu.io/api/edge/anime/6/installments"}},"mappings":{"links":{"self":"https://kitsu.io/api/edge/anime/6/relationships/mappings","related":"https://kitsu.io/api/edge/anime/6/mappings"}},"reviews":{"links":{"self":"https://kitsu.io/api/edge/anime/6/relationships/reviews","related":"https://kitsu.io/api/edge/anime/6/reviews"}},"mediaRelationships":{"links":{"self":"https://kitsu.io/api/edge/anime/6/relationships/media-relationships","related":"https://kitsu.io/api/edge/anime/6/media-relationships"}},"episodes":{"links":{"self":"https://kitsu.io/api/edge/anime/6/relationships/episodes","related":"https://kitsu.io/api/edge/anime/6/episodes"}},"streamingLinks":{"links":{"self":"https://kitsu.io/api/edge/anime/6/relationships/streaming-links","related":"https://kitsu.io/api/edge/anime/6/streaming-links"}},"animeProductions":{"links":{"self":"https://kitsu.io/api/edge/anime/6/relationships/anime-productions","related":"https://kitsu.io/api/edge/anime/6/anime-productions"}},"animeCharacters":{"links":{"self":"https://kitsu.io/api/edge/anime/6/relationships/anime-characters","related":"https://kitsu.io/api/edge/anime/6/anime-characters"}},"animeStaff":{"links":{"self":"https://kitsu.io/api/edge/anime/6/relationships/anime-staff","related":"https://kitsu.io/api/edge/anime/6/anime-staff"}}}},{"id":"7","type":"anime","links":{"self":"https://kitsu.io/api/edge/anime/7"},"attributes":{"slug":"honey-and-clover","synopsis":"Yuuta, Takumi, and Shinobu share a six-tatami room apartment with no bath. The rent is low and it's perfect for poor college students such as themselves. Shinobu is a mysterious, quirky person, who does things on a whim. Takumi is passionate both in work and love, and Yuuta is a simple person with simple dreams and desires. That is, until he meets Hagumi, a petite girl with enormous amount of talent. Hagumi is fondly called Hagu by Shuuji, who serves as Hagu's guardian. Hagu meets Ayumi, nicknamed Ayu, and they become close friends almost instantly. Meanwhile, Ayu falls for one of the boys...\r\nThe joys of falling in love, the pain of letting go, discovering one's self, and finding the courage to move on—these are some of the things that the characters in Hachimitsu to Clover experience as they take part in the play staged by fate.","coverImageTopOffset":50,"titles":{"en":"Honey and Clover","en_jp":"Hachimitsu to Clover","ja_jp":"ハチミツとクローバー"},"canonicalTitle":"Hachimitsu to Clover","abbreviatedTitles":["HachiKuro","Honey & Clover"],"averageRating":"80.51","ratingFrequencies":{"2":"10","3":"0","4":"21","5":"0","6":"13","7":"0","8":"69","9":"0","10":"90","11":"1","12":"261","13":"1","14":"368","15":"1","16":"785","17":"1","18":"554","19":"2","20":"661"},"userCount":8582,"favoritesCount":210,"startDate":"2005-04-15","endDate":"2005-09-27","popularityRank":426,"ratingRank":421,"ageRating":"PG","ageRatingGuide":"Teens 13 or older","subtype":"TV","posterImage":{"tiny":"https://media.kitsu.io/anime/poster_images/7/tiny.jpg?1417880955","small":"https://media.kitsu.io/anime/poster_images/7/small.jpg?1417880955","medium":"https://media.kitsu.io/anime/poster_images/7/medium.jpg?1417880955","large":"https://media.kitsu.io/anime/poster_images/7/large.jpg?1417880955","original":"https://media.kitsu.io/anime/poster_images/7/original.jpg?1417880955"},"coverImage":{"tiny":"https://media.kitsu.io/anime/cover_images/7/tiny.jpg?1416273935","small":"https://media.kitsu.io/anime/cover_images/7/small.jpg?1416273935","large":"https://media.kitsu.io/anime/cover_images/7/large.jpg?1416273935","original":"https://media.kitsu.io/anime/cover_images/7/original.jpg?1416273935"},"episodeCount":24,"episodeLength":23,"youtubeVideoId":"6TN4a0kZuXg","showType":"TV","nsfw":false},"relationships":{"genres":{"links":{"self":"https://kitsu.io/api/edge/anime/7/relationships/genres","related":"https://kitsu.io/api/edge/anime/7/genres"}},"castings":{"links":{"self":"https://kitsu.io/api/edge/anime/7/relationships/castings","related":"https://kitsu.io/api/edge/anime/7/castings"}},"installments":{"links":{"self":"https://kitsu.io/api/edge/anime/7/relationships/installments","related":"https://kitsu.io/api/edge/anime/7/installments"}},"mappings":{"links":{"self":"https://kitsu.io/api/edge/anime/7/relationships/mappings","related":"https://kitsu.io/api/edge/anime/7/mappings"}},"reviews":{"links":{"self":"https://kitsu.io/api/edge/anime/7/relationships/reviews","related":"https://kitsu.io/api/edge/anime/7/reviews"}},"mediaRelationships":{"links":{"self":"https://kitsu.io/api/edge/anime/7/relationships/media-relationships","related":"https://kitsu.io/api/edge/anime/7/media-relationships"}},"episodes":{"links":{"self":"https://kitsu.io/api/edge/anime/7/relationships/episodes","related":"https://kitsu.io/api/edge/anime/7/episodes"}},"streamingLinks":{"links":{"self":"https://kitsu.io/api/edge/anime/7/relationships/streaming-links","related":"https://kitsu.io/api/edge/anime/7/streaming-links"}},"animeProductions":{"links":{"self":"https://kitsu.io/api/edge/anime/7/relationships/anime-productions","related":"https://kitsu.io/api/edge/anime/7/anime-productions"}},"animeCharacters":{"links":{"self":"https://kitsu.io/api/edge/anime/7/relationships/anime-characters","related":"https://kitsu.io/api/edge/anime/7/anime-characters"}},"animeStaff":{"links":{"self":"https://kitsu.io/api/edge/anime/7/relationships/anime-staff","related":"https://kitsu.io/api/edge/anime/7/anime-staff"}}}},{"id":"8","type":"anime","links":{"self":"https://kitsu.io/api/edge/anime/8"},"attributes":{"slug":"hungry-heart-wild-striker","synopsis":"Kyosuke Kano has lived under the shadow of his successful brother Seisuke all his life who is a professional soccer player. Tired of being compared and downgraded at, he abandoned playing soccer until a boy from his new highschool discovered him and asked him to join their team. Kyosuke joins it and befriends two other first year players named Rodrigo and Sakai with the dream of becomming professional soccer players themselves.\r\n(Source: ANN)","coverImageTopOffset":0,"titles":{"en_jp":"Hungry Heart: Wild Striker","ja_jp":"ハングリーハート Wild Striker"},"canonicalTitle":"Hungry Heart: Wild Striker","abbreviatedTitles":[],"averageRating":"74.95","ratingFrequencies":{"2":"0","3":"0","4":"6","5":"0","6":"2","7":"0","8":"16","9":"0","10":"21","11":"1","12":"50","13":"0","14":"90","15":"1","16":"93","17":"0","18":"35","19":"0","20":"63"},"userCount":741,"favoritesCount":12,"startDate":"2002-09-11","endDate":"2003-09-10","popularityRank":3052,"ratingRank":1329,"ageRating":"PG","ageRatingGuide":"Teens 13 or older","subtype":"TV","posterImage":{"tiny":"https://media.kitsu.io/anime/poster_images/8/tiny.jpg?1416601584","small":"https://media.kitsu.io/anime/poster_images/8/small.jpg?1416601584","medium":"https://media.kitsu.io/anime/poster_images/8/medium.jpg?1416601584","large":"https://media.kitsu.io/anime/poster_images/8/large.jpg?1416601584","original":"https://media.kitsu.io/anime/poster_images/8/original.jpg?1416601584"},"coverImage":null,"episodeCount":52,"episodeLength":23,"youtubeVideoId":null,"showType":"TV","nsfw":false},"relationships":{"genres":{"links":{"self":"https://kitsu.io/api/edge/anime/8/relationships/genres","related":"https://kitsu.io/api/edge/anime/8/genres"}},"castings":{"links":{"self":"https://kitsu.io/api/edge/anime/8/relationships/castings","related":"https://kitsu.io/api/edge/anime/8/castings"}},"installments":{"links":{"self":"https://kitsu.io/api/edge/anime/8/relationships/installments","related":"https://kitsu.io/api/edge/anime/8/installments"}},"mappings":{"links":{"self":"https://kitsu.io/api/edge/anime/8/relationships/mappings","related":"https://kitsu.io/api/edge/anime/8/mappings"}},"reviews":{"links":{"self":"https://kitsu.io/api/edge/anime/8/relationships/reviews","related":"https://kitsu.io/api/edge/anime/8/reviews"}},"mediaRelationships":{"links":{"self":"https://kitsu.io/api/edge/anime/8/relationships/media-relationships","related":"https://kitsu.io/api/edge/anime/8/media-relationships"}},"episodes":{"links":{"self":"https://kitsu.io/api/edge/anime/8/relationships/episodes","related":"https://kitsu.io/api/edge/anime/8/episodes"}},"streamingLinks":{"links":{"self":"https://kitsu.io/api/edge/anime/8/relationships/streaming-links","related":"https://kitsu.io/api/edge/anime/8/streaming-links"}},"animeProductions":{"links":{"self":"https://kitsu.io/api/edge/anime/8/relationships/anime-productions","related":"https://kitsu.io/api/edge/anime/8/anime-productions"}},"animeCharacters":{"links":{"self":"https://kitsu.io/api/edge/anime/8/relationships/anime-characters","related":"https://kitsu.io/api/edge/anime/8/anime-characters"}},"animeStaff":{"links":{"self":"https://kitsu.io/api/edge/anime/8/relationships/anime-staff","related":"https://kitsu.io/api/edge/anime/8/anime-staff"}}}},{"id":"9","type":"anime","links":{"self":"https://kitsu.io/api/edge/anime/9"},"attributes":{"slug":"initial-d-fourth-stage","synopsis":"Takumi Fujiwara and brothers Keisuke and Ryousuke Takahashi have formed \"Project D,\" a racing team aimed at bringing their driving skills to their full potential outside their prefecture. Using the internet, Project D issues challenges to other racing teams and posts results of their races. Managed by Ryousuke, the team has Takumi engaging in downhill battles with his AE86, while Keisuke challenges opponents uphill. Among their rivals are the Seven-Star Leaf (SSR) and Todo-juku.","coverImageTopOffset":100,"titles":{"en_jp":"Initial D Fourth Stage","ja_jp":"頭文字〈イニシャル〉D FOURTH STAGE"},"canonicalTitle":"Initial D Fourth Stage","abbreviatedTitles":["Initial D 4th Stage"],"averageRating":"82.4","ratingFrequencies":{"2":"0","3":"0","4":"6","5":"0","6":"0","7":"0","8":"12","9":"0","10":"28","11":"0","12":"113","13":"0","14":"216","15":"1","16":"457","17":"3","18":"244","19":"0","20":"385"},"userCount":2726,"favoritesCount":54,"startDate":"2004-04-17","endDate":"2006-02-18","popularityRank":1383,"ratingRank":250,"ageRating":"PG","ageRatingGuide":"Teens 13 or older","subtype":"TV","posterImage":{"tiny":"https://media.kitsu.io/anime/poster_images/9/tiny.jpg?1438856488","small":"https://media.kitsu.io/anime/poster_images/9/small.jpg?1438856488","medium":"https://media.kitsu.io/anime/poster_images/9/medium.jpg?1438856488","large":"https://media.kitsu.io/anime/poster_images/9/large.jpg?1438856488","original":"https://media.kitsu.io/anime/poster_images/9/original.jpeg?1438856488"},"coverImage":{"tiny":"https://media.kitsu.io/anime/cover_images/9/tiny.jpg?1438856494","small":"https://media.kitsu.io/anime/cover_images/9/small.jpg?1438856494","large":"https://media.kitsu.io/anime/cover_images/9/large.jpg?1438856494","original":"https://media.kitsu.io/anime/cover_images/9/original.jpg?1438856494"},"episodeCount":24,"episodeLength":27,"youtubeVideoId":"T0HCsCYVM-Y","showType":"TV","nsfw":false},"relationships":{"genres":{"links":{"self":"https://kitsu.io/api/edge/anime/9/relationships/genres","related":"https://kitsu.io/api/edge/anime/9/genres"}},"castings":{"links":{"self":"https://kitsu.io/api/edge/anime/9/relationships/castings","related":"https://kitsu.io/api/edge/anime/9/castings"}},"installments":{"links":{"self":"https://kitsu.io/api/edge/anime/9/relationships/installments","related":"https://kitsu.io/api/edge/anime/9/installments"}},"mappings":{"links":{"self":"https://kitsu.io/api/edge/anime/9/relationships/mappings","related":"https://kitsu.io/api/edge/anime/9/mappings"}},"reviews":{"links":{"self":"https://kitsu.io/api/edge/anime/9/relationships/reviews","related":"https://kitsu.io/api/edge/anime/9/reviews"}},"mediaRelationships":{"links":{"self":"https://kitsu.io/api/edge/anime/9/relationships/media-relationships","related":"https://kitsu.io/api/edge/anime/9/media-relationships"}},"episodes":{"links":{"self":"https://kitsu.io/api/edge/anime/9/relationships/episodes","related":"https://kitsu.io/api/edge/anime/9/episodes"}},"streamingLinks":{"links":{"self":"https://kitsu.io/api/edge/anime/9/relationships/streaming-links","related":"https://kitsu.io/api/edge/anime/9/streaming-links"}},"animeProductions":{"links":{"self":"https://kitsu.io/api/edge/anime/9/relationships/anime-productions","related":"https://kitsu.io/api/edge/anime/9/anime-productions"}},"animeCharacters":{"links":{"self":"https://kitsu.io/api/edge/anime/9/relationships/anime-characters","related":"https://kitsu.io/api/edge/anime/9/anime-characters"}},"animeStaff":{"links":{"self":"https://kitsu.io/api/edge/anime/9/relationships/anime-staff","related":"https://kitsu.io/api/edge/anime/9/anime-staff"}}}},{"id":"10","type":"anime","links":{"self":"https://kitsu.io/api/edge/anime/10"},"attributes":{"slug":"monster","synopsis":"Dr. Kenzou Tenma is a renowned brain surgeon of Japanese descent working in Europe. Highly lauded by his peers as one of the great young minds that will revolutionize the field, he is blessed with a beautiful fiancée and is on the cusp of a big promotion in the hospital he works at. But all of that is about to change with a grave dilemma that Kenzou faces one night—whether to save the life of a small boy or that of the town's mayor. Despite being pressured by his superiors to perform surgery on the mayor, his morals force him to perform the surgery on the other critical patient, saving his life and forfeiting the mayor's. A doctor is taught to believe that all life is equal; however, when a series of murders occur in the surgeon's vicinity, all of the evidence pointing to the boy he saved, Kenzou's beliefs are shaken. Along his journey to unravel the true identity of his little patient, Kenzou discovers that the fate of the world may be intertwined with the mysterious child.\r\n[Written by MAL Rewrite]","coverImageTopOffset":200,"titles":{"en":"Monster","en_jp":"Monster","ja_jp":"モンスター"},"canonicalTitle":"Monster","abbreviatedTitles":[],"averageRating":"86.63","ratingFrequencies":{"2":"48","3":"0","4":"108","5":"0","6":"20","7":"0","8":"69","9":"0","10":"104","11":"0","12":"560","13":"0","14":"500","15":"5","16":"1247","17":"6","18":"1523","19":"17","20":"3639"},"userCount":19286,"favoritesCount":1120,"startDate":"2004-04-07","endDate":"2005-09-28","popularityRank":101,"ratingRank":45,"ageRating":"R","ageRatingGuide":"Mild Nudity","subtype":"TV","posterImage":{"tiny":"https://media.kitsu.io/anime/poster_images/10/tiny.jpg?1495114402","small":"https://media.kitsu.io/anime/poster_images/10/small.jpg?1495114402","medium":"https://media.kitsu.io/anime/poster_images/10/medium.jpg?1495114402","large":"https://media.kitsu.io/anime/poster_images/10/large.jpg?1495114402","original":"https://media.kitsu.io/anime/poster_images/10/original.jpg?1495114402"},"coverImage":{"tiny":"https://media.kitsu.io/anime/cover_images/10/tiny.jpg?1416320626","small":"https://media.kitsu.io/anime/cover_images/10/small.jpg?1416320626","large":"https://media.kitsu.io/anime/cover_images/10/large.jpg?1416320626","original":"https://media.kitsu.io/anime/cover_images/10/original.jpg?1416320626"},"episodeCount":74,"episodeLength":24,"youtubeVideoId":"9aS-EgdAq6U","showType":"TV","nsfw":false},"relationships":{"genres":{"links":{"self":"https://kitsu.io/api/edge/anime/10/relationships/genres","related":"https://kitsu.io/api/edge/anime/10/genres"}},"castings":{"links":{"self":"https://kitsu.io/api/edge/anime/10/relationships/castings","related":"https://kitsu.io/api/edge/anime/10/castings"}},"installments":{"links":{"self":"https://kitsu.io/api/edge/anime/10/relationships/installments","related":"https://kitsu.io/api/edge/anime/10/installments"}},"mappings":{"links":{"self":"https://kitsu.io/api/edge/anime/10/relationships/mappings","related":"https://kitsu.io/api/edge/anime/10/mappings"}},"reviews":{"links":{"self":"https://kitsu.io/api/edge/anime/10/relationships/reviews","related":"https://kitsu.io/api/edge/anime/10/reviews"}},"mediaRelationships":{"links":{"self":"https://kitsu.io/api/edge/anime/10/relationships/media-relationships","related":"https://kitsu.io/api/edge/anime/10/media-relationships"}},"episodes":{"links":{"self":"https://kitsu.io/api/edge/anime/10/relationships/episodes","related":"https://kitsu.io/api/edge/anime/10/episodes"}},"streamingLinks":{"links":{"self":"https://kitsu.io/api/edge/anime/10/relationships/streaming-links","related":"https://kitsu.io/api/edge/anime/10/streaming-links"}},"animeProductions":{"links":{"self":"https://kitsu.io/api/edge/anime/10/relationships/anime-productions","related":"https://kitsu.io/api/edge/anime/10/anime-productions"}},"animeCharacters":{"links":{"self":"https://kitsu.io/api/edge/anime/10/relationships/anime-characters","related":"https://kitsu.io/api/edge/anime/10/anime-characters"}},"animeStaff":{"links":{"self":"https://kitsu.io/api/edge/anime/10/relationships/anime-staff","related":"https://kitsu.io/api/edge/anime/10/anime-staff"}}}}],"meta":{"count":12072},"links":{"first":"https://kitsu.io/api/edge/anime?page%5Blimit%5D=10&page%5Boffset%5D=0","next":"https://kitsu.io/api/edge/anime?page%5Blimit%5D=10&page%5Boffset%5D=10","last":"https://kitsu.io/api/edge/anime?page%5Blimit%5D=10&page%5Boffset%5D=12062"}}

### Update [PATCH]

+ Response 200 (application/vnd.api+json)

### Create [POST]

+ Response 200 (application/vnd.api+json)

### Delete [DELETE]

+ Response 200 (application/vnd.api+json)

## Single [/anime/{id}]

TBA

+ Parameters
    + id (number) - ID of the anime

### Fetch [GET]

+ Request
    + Headers

            Accept: application/vnd.api+json
            Content-Type: application/vnd.api+json

+ Response 200 (application/vnd.api+json)

        {"data":{"id":"1","type":"anime","links":{"self":"https://kitsu.io/api/edge/anime/1"},"attributes":{"slug":"cowboy-bebop","synopsis":"In the year 2071, humanity has colonized several of the planets and moons of the solar system leaving the now uninhabitable surface of planet Earth behind. The Inter Solar System Police attempts to keep peace in the galaxy, aided in part by outlaw bounty hunters, referred to as \"Cowboys\". The ragtag team aboard the spaceship Bebop are two such individuals.\r\nMellow and carefree Spike Spiegel is balanced by his boisterous, pragmatic partner Jet Black as the pair makes a living chasing bounties and collecting rewards. Thrown off course by the addition of new members that they meet in their travels—Ein, a genetically engineered, highly intelligent Welsh Corgi; femme fatale Faye Valentine, an enigmatic trickster with memory loss; and the strange computer whiz kid Edward Wong—the crew embarks on thrilling adventures that unravel each member's dark and mysterious past little by little. \r\nWell-balanced with high density action and light-hearted comedy, Cowboy Bebop is a space Western classic and an homage to the smooth and improvised music it is named after.  \r\n[Written by MAL Rewrite]","coverImageTopOffset":400,"titles":{"en":"Cowboy Bebop","en_jp":"Cowboy Bebop","ja_jp":"カウボーイビバップ"},"canonicalTitle":"Cowboy Bebop","abbreviatedTitles":["COWBOY BEBOP"],"averageRating":"88.65","ratingFrequencies":{"2":"72","3":"0","4":"292","5":"0","6":"66","7":"0","8":"161","9":"0","10":"255","11":"1","12":"1391","13":"9","14":"1496","15":"12","16":"3757","17":"26","18":"4380","19":"36","20":"13576"},"userCount":40405,"favoritesCount":3277,"startDate":"1998-04-03","endDate":"1999-04-24","popularityRank":10,"ratingRank":10,"ageRating":"R","ageRatingGuide":"17+ (violence & profanity)","subtype":"TV","posterImage":{"tiny":"https://media.kitsu.io/anime/poster_images/1/tiny.jpg?1431697256","small":"https://media.kitsu.io/anime/poster_images/1/small.jpg?1431697256","medium":"https://media.kitsu.io/anime/poster_images/1/medium.jpg?1431697256","large":"https://media.kitsu.io/anime/poster_images/1/large.jpg?1431697256","original":"https://media.kitsu.io/anime/poster_images/1/original.jpg?1431697256"},"coverImage":{"tiny":"https://media.kitsu.io/anime/cover_images/1/tiny.jpg?1416336000","small":"https://media.kitsu.io/anime/cover_images/1/small.jpg?1416336000","large":"https://media.kitsu.io/anime/cover_images/1/large.jpg?1416336000","original":"https://media.kitsu.io/anime/cover_images/1/original.jpg?1416336000"},"episodeCount":26,"episodeLength":24,"youtubeVideoId":"qig4KOK2R2g","showType":"TV","nsfw":false},"relationships":{"genres":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/genres","related":"https://kitsu.io/api/edge/anime/1/genres"}},"castings":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/castings","related":"https://kitsu.io/api/edge/anime/1/castings"}},"installments":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/installments","related":"https://kitsu.io/api/edge/anime/1/installments"}},"mappings":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/mappings","related":"https://kitsu.io/api/edge/anime/1/mappings"}},"reviews":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/reviews","related":"https://kitsu.io/api/edge/anime/1/reviews"}},"mediaRelationships":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/media-relationships","related":"https://kitsu.io/api/edge/anime/1/media-relationships"}},"episodes":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/episodes","related":"https://kitsu.io/api/edge/anime/1/episodes"}},"streamingLinks":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/streaming-links","related":"https://kitsu.io/api/edge/anime/1/streaming-links"}},"animeProductions":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/anime-productions","related":"https://kitsu.io/api/edge/anime/1/anime-productions"}},"animeCharacters":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/anime-characters","related":"https://kitsu.io/api/edge/anime/1/anime-characters"}},"animeStaff":{"links":{"self":"https://kitsu.io/api/edge/anime/1/relationships/anime-staff","related":"https://kitsu.io/api/edge/anime/1/anime-staff"}}}}}


# Group Announcements

TBA

# Group Authentication

Kitsu uses OAuth 2 for authentication. It is not required to send authenticated requests for most endpoints.

After registering your app, you will receieve a client ID and a client secret. The client ID is considered public information and is used to build login URLs or included in source code. The client secret **must** be kept confidential.

**NOTE:** Application registration has not yet been implemented, so for now all requests should be  made with the following client ID and client secret:

```
CLIENT_ID: dd031b32d2f56c990b1425efe6c42ad847e7fe3ab46bf1299f05ecd856bdb7dd
CLIENT_SECRET: 54d7307928f63414defd96399fc31ba847961ceaecef3a5fd93144e960c0e151
```

# Grant Types

OAuth 2 provides several grant types for different use cases. The grant types defined are:

- **Authorisation Code** for apps running on a web server, browser-based and and mobile apps
- **Password** for logging in with a username and Password
- **Client Credentials** for application access

# Group Characters

TBA

# Group Companies

TBA

# Group Drama

TBA

# Group Feeds

TBA

# Group Groups

TBA

# Group Library

TBA

# Group Manga

TBA

# Group People

TBA

# Group Users

TBA

# Group Webhooks

TBA
