FORMAT: 1A
HOST: https://kitsu.io/api/edge

# Kitsu API

Kitsu is a modern anime discovery platform that helps you track the
anime you're watching, discover new anime and socialize with other
fans.

With the Kitsu API you can do everything the client can do and much
more.

# Versioning

Every year, we release a new version of the API, numbered by the
last two digits of the current year. For example, the root URL of
this (the 2017) release is `https://kitsu.io/api/17/`.

No fields, endpoints, or resources will be removed until the next
year's release, but may be changed to return empty values (arrays,
empty strings, etc.) before then. Fields, endpoints, and resources
may be added throughout the lifetime of a release.

In addition to these versioned APIs, there is access to the same API
our website uses. However, this offers no guarantees: anything could
change at any time. We suggest you don't use this, but if you need
to, it can be accessed at `https://kitsu.io/api/edge/`.

# Life Cycle

Upon release of a new version, the previous version will be
maintained for one year or until usage drops below 2% of API
traffic.

During this period, it will not be updated to have any new fields,
endpoints, or resources. You are expected to keep your applications
running on the latest version of the API. For most applications,
upgrading should take no more than a few hours of work.

# JSON API

The Kitsu API implements the JSON API specification. This means
there are some notable semantics to how you consume it, but
understanding it will take a lot of the work of using it out of your
hands.

These docs will include a short overview of the capabilities, but
you can consult the [JSON API Specification][jsonapi] for more
information.

You can be more specific about the data you want to retrieve by
using URL parameters and are outlined below.

**Note:** This documentation will display parameters with brackets
(`[` and `]`) for readability, but actual URLs will need to be
percent-encoded (`%5B` and `%5D`).

## Request Headers

As per the JSON API specification, all requests to the API should
contain these headers:

```
Accept: application/vnd.api+json
Content-Type: application/vnd.api+json
```

## Filtering and Search

Filtering lets you query data that contains certain matching
attributes or relationships. These take the form of
`filter[attribute]=value`. For example, you can request all the
anime of the Adventure genre:

```
/anime?filter[genres]=adventure
```

For some models, you can also search based on the query text:

```
/anime?filter[text]=cowboy%20bebop
```

## Pagination

You can choose how much of a resource to receive by specifying
pagination parameters. Pagination is supported via `limit` and
`offset`. Resources are paginated in groups of `20` by default.

`/anime?page[limit]=5&page[offset]=0`

The response will include URLs for the first, next and last page of
resources in the `links` object based on your request.

```
"links": {
    "first": "https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=0",
    "next": "https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=5",
    "last": "https://kitsu.io/api/edge/anime?page[limit]=5&page[offset]=12062"
}
```

## Sorting

Sorting by attributes is also supported. By default, sorts are
applied in ascending order. You can request a descending order by
prepending `-` to the parameter. You can use a comma-delimited list
to sort by multiple attributes.

`/users?sort=-followersCount,-followingCount`

## Includes

You can include related resources with `include=[relationship]`.
You can also specify successive relationships using a `.`. A
comma-delimited list can be used to request multiple relationships.

`/library-entries?include=user,anime.genres`

## Sparse Fieldsets

You can request a resource to only return a specific set of fields
in its response. For example, to only receive a user's name and
creation date:

`/users?fields[users]=name,createdAt`

## Client Implementations

JSON API has a great advantage in that since its standardised,
API-agnostic tools can be made to abstract away the semantics of
consuming and working with the data. It is recommended that you use
a JSON API client to implement the Kitsu API for this reason.

Many implementations in over 13 languages can be found on the
[JSON API website][jsonapi-client].

# Questions?

If you have any questions, you can join our Slack by sending an
email to josh@kitsu.io or pinging [@wopian][wopian],
[@matthewdias][matthewdias] or [@nuck][nuck] on Kitsu.

[jsonapi]:http://jsonapi.org/format/
[jsonapi-client]:http://jsonapi.org/implementations/#client-libraries
[wopian]:https://kitsu.io/users/wopian
[matthewdias]:https://kitsu.io/users/matthewdias
[nuck]:https://kitsu.io/users/nuck

# Group Authentication

Kitsu uses OAuth 2 for authentication. It is not required to send
authenticated requests for most endpoints.

After registering your app, you will receieve a client ID and a
client secret. The client ID is considered public information and is
used to build login URLs or included in source code. The client
secret **must** be kept confidential.

**NOTE:** Application registration has not yet been implemented, so
for now all requests should be  made with the following client ID
and client secret:

```
CLIENT_ID: dd031b32d2f56c990b1425efe6c42ad847e7fe3ab46bf1299f05ecd856bdb7dd
CLIENT_SECRET: 54d7307928f63414defd96399fc31ba847961ceaecef3a5fd93144e960c0e151
```

# Grant Types

OAuth 2 provides several grant types for different use cases. The
grant types defined are:

- **Authorization Code** for apps running on a web server,
browser-based and mobile apps
- **Password** for logging in with a username and Password
- **Client Credentials** for application access
# Group Characters & People

## Anime Characters [/anime-characters/{id}]

+ Parameters
    + id (number, `1`) - ID of the anime character resource

+ Attributes (animeCharactersAttributes)

### GET List [GET /anime-characters]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array)
            + (animeCharacters)
        + meta (object)
            + count: 109379 (number)
        + links (object)
            + first: `https://kitsu.io/api/edge/anime-characters?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + next: `https://kitsu.io/api/edge/anime-characters?page%5Blimit%5D=10&page%5Boffset%5D=10`
            + last: `https://kitsu.io/api/edge/anime-characters?page%5Blimit%5D=10&page%5Boffset%5D=109369`

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid page value
                + detail: 0 is not a valid value for limit page parameter.
                + code: 118
                + status: 400

### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (animeCharacters)

+ Response 404 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Record not found
                + detail: The record identified by 0 could not be found.
                + code: 404
                + status: 404

+ Response 400 (application/vnd.api+json)
    + Attributes
        + errors (array)
            + (object)
                + title: Invalid field value
                + detail: helloworld is not a valid value for id.
                + code: 103
                + status: 400
## Anime Productions [/anime-productions/{id}]

+ Parameters
    + id (number, `1`) - ID of the anime production resource

+ Attributes (animeProductionsAttributes)

### GET List [GET /anime-productions]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array)
            + (animeProductions)
        + meta (object)
            + count: 28401 (number)
        + links (object)
            + first: `https://kitsu.io/api/edge/anime-productions?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + next: `https://kitsu.io/api/edge/anime-productions?page%5Blimit%5D=10&page%5Boffset%5D=10`
            + last: `https://kitsu.io/api/edge/anime-productions?page%5Blimit%5D=10&page%5Boffset%5D=28391`


### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (animeProductions)
## Anime Staff [/anime-staff/{id}]

+ Parameters
    + id (number, `1`) - ID of the anime staff resource

+ Attributes (animeStaffAttributes)

### GET List [GET /anime-staff]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array)
            + (animeStaff)
        + meta (object)
            + count: 88543 (number)
        + links (object)
            + first: `https://kitsu.io/api/edge/anime-staff?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + next: `https://kitsu.io/api/edge/anime-staff?page%5Blimit%5D=10&page%5Boffset%5D=10`
            + last: `https://kitsu.io/api/edge/anime-staff?page%5Blimit%5D=10&page%5Boffset%5D=88533`


### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (animeStaff)
## Castings [/castings/{id}]

+ Parameters
    + id (number, `1`) - ID of the casting resource

+ Attributes (castingsAttributes)

### GET List [GET /castings]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array)
            + (castings)
        + meta (object)
            + count: 244549 (number)
        + links (object)
            + first: `https://kitsu.io/api/edge/castings?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + next: `https://kitsu.io/api/edge/castings?page%5Blimit%5D=10&page%5Boffset%5D=10`
            + last: `https://kitsu.io/api/edge/castings?page%5Blimit%5D=10&page%5Boffset%5D=244539`


### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (castings)
## Characters [/characters/{id}]

+ Parameters
    + id (number, `1`) - ID of the character resource

+ Attributes (charactersAttributes)

### GET List [GET /characters]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array)
            + (characters)
        + meta (object)
            + count: 95009 (number)
        + links (object)
            + first: `https://kitsu.io/api/edge/characters?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + next: `https://kitsu.io/api/edge/characters?page%5Blimit%5D=10&page%5Boffset%5D=10`
            + last: `https://kitsu.io/api/edge/characters?page%5Blimit%5D=10&page%5Boffset%5D=94999`


### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (characters)
## Manga Characters [/manga-characters/{id}]

+ Parameters
    + id (number, `1`) - ID of the manga character resource

+ Attributes (mangaCharactersAttributes)

### GET List [GET /manga-characters]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array)
            + (mangaCharacters)
        + meta (object)
            + count: 0 (number)
        + links (object)
            + first: `https://kitsu.io/api/edge/manga-characters?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + last: `https://kitsu.io/api/edge/manga-characters?page%5Blimit%5D=10&page%5Boffset%5D=0`


### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mangaCharacters)
## Manga Staff [/manga-staff/{id}]

+ Parameters
    + id (number, `1`) - ID of the manga staff resource

+ Attributes (mangaStaffAttributes)

### GET List [GET /manga-staff]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array)
            + (mangaStaff)
        + meta (object)
            + count: 1 (number)
        + links (object)
            + first: `https://kitsu.io/api/edge/manga-staff?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + last: `https://kitsu.io/api/edge/manga-staff?page%5Blimit%5D=10&page%5Boffset%5D=0`


### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (mangaStaff)
## People [/people/{id}]

+ Parameters
    + id (number, `1`) - ID of the person resource

+ Attributes (peopleAttributes)

### GET List [GET /people]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array)
            + (people)
        + meta (object)
            + count: 27957 (number)
        + links (object)
            + first: `https://kitsu.io/api/edge/people?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + next: `https://kitsu.io/api/edge/people?page%5Blimit%5D=10&page%5Boffset%5D=10`
            + last: `https://kitsu.io/api/edge/people?page%5Blimit%5D=10&page%5Boffset%5D=27947`


### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (people)
## Producers [/producers/{id}]

+ Parameters
    + id (number, `1`) - ID of the producer resource

+ Attributes (producersAttributes)

### GET List [GET /producers]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (array)
            + (producers)
        + meta (object)
            + count: 1333 (number)
        + links (object)
            + first: `https://kitsu.io/api/edge/producers?page%5Blimit%5D=10&page%5Boffset%5D=0`
            + next: `https://kitsu.io/api/edge/producers?page%5Blimit%5D=10&page%5Boffset%5D=10`
            + last: `https://kitsu.io/api/edge/producers?page%5Blimit%5D=10&page%5Boffset%5D=1323`


### GET Single [GET]

+ Response 200 (application/vnd.api+json)
    + Attributes
        + data (producers)
# Group Groups





# Group Media














# Group Posts





# Group Reviews



# Group Site Announcements


# Group Users











# Data Structures

## animeCharactersAttributes (object)
+ role: main

## animeCharacters (object)
+ id: 1
+ type: animeCharacters (enum)
  + animeCharacters
+ links (object)
    + self: `https://kitsu.io/api/edge/anime-characters/1`
+ attributes (animeCharactersAttributes)
+ relationships (object)
    + anime (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime-characters/1/relationships/anime`
            + related: `https://kitsu.io/api/edge/anime-characters/1/anime`
    + character (object)
            + self: `https://kitsu.io/api/edge/anime-characters/1/relationships/character`
            + related: `https://kitsu.io/api/edge/anime-characters/1/character`
    + castings (object)
            + self: `https://kitsu.io/api/edge/anime-characters/1/relationships/castings`
            + related: `https://kitsu.io/api/edge/anime-characters/1/castings`
## animeProductionsAttributes (object)
+ role: producer

## animeProductions (object)
+ id: 1
+ type: animeProductions (enum)
  + animeProductions
+ links (object)
    + self: `https://kitsu.io/api/edge/anime-productions/1`
+ attributes (animeCharactersAttributes)
+ relationships (object)
    + anime (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime-productions/1/relationships/anime`
            + related: `https://kitsu.io/api/edge/anime-productions/1/anime`
    + producer (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime-productions/1/relationships/producer`
            + related: `https://kitsu.io/api/edge/anime-productions/1/producer`
## animeStaffAttributes (object)
+ role: producer

## animeStaff (object)
+ id: 1
+ type: animeStaff (enum)
  + animeStaff
+ links (object)
    + self: `https://kitsu.io/api/edge/anime-staff/1`
+ attributes (animeStaffAttributes)
+ relationships (object)
    + anime (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime-staff/1/relationships/anime`
            + related: `https://kitsu.io/api/edge/anime-staff/1/anime`
    + person (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/anime-staff/1/relationships/person`
            + related: `https://kitsu.io/api/edge/anime-staff/1/person`
## castingsAttributes (object)
+ role: producer
+ voiceActor: false (boolean)
+ featured: false (boolean)
+ language: English

## castings (object)
+ id: 1
+ type: castings (enum)
  + castings
+ links (object)
    + self: `https://kitsu.io/api/edge/castings/1`
+ attributes (castingsAttributes)
+ relationships (object)
    + media (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/castings/1/relationships/media`
            + related: `https://kitsu.io/api/edge/castings/1/media`
    + character (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/castings/1/relationships/character`
            + related: `https://kitsu.io/api/edge/castings/1/character`
    + person (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/castings/1/relationships/person`
            + related: `https://kitsu.io/api/edge/castings/1/person`
## charactersAttributes (object)
+ slug: jet-black
+ name: Jet Black
+ malId: 3 (number)
+ description: Jet, known on his home satellite as the \"Black Dog\"...
+ image (object)
    + original: `https://media.kitsu.io/characters/images/1/original.jpg?1483096805`

## characters (object)
+ id: 1
+ type: characters (enum)
  + characters
+ links (object)
    + self: `https://kitsu.io/api/edge/characters/1`
+ attributes (charactersAttributes)
+ relationships (object)
    + primaryMedia (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/characters/1/relationships/primary-media`
            + related: `https://kitsu.io/api/edge/characters/1/primary-media`
    + castings (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/characters/1/relationships/castings`
            + related: `https://kitsu.io/api/edge/characters/1/castings`
## mangaCharactersAttributes (object)

## mangaCharacters (object)
## mangaStaffAttributes (object)
+ role: producer

## mangaStaff (object)
+ id: 1
+ type: mangaStaff (enum)
  + mangaStaff
+ links (object)
    + self: `https://kitsu.io/api/edge/manga-staff/1`
+ attributes (mangaStaffAttributes)
+ relationships (object)
    + manga (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga-staff/1/relationships/manga`
            + related: `https://kitsu.io/api/edge/manga-staff/1/manga`
    + person (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/manga-staff/1/relationships/person`
            + related: `https://kitsu.io/api/edge/manga-staff/1/person`
## peopleAttributes (object)
+ image: `https://media.kitsu.io/people/images/1/original.jpg?1416260317`
+ name: Masahiko Minami
+ malId: 6519 (number)

## people (object)
+ id: 1
+ type: people (enum)
  + people
+ links (object)
    + self: `https://kitsu.io/api/edge/people/1`
+ attributes (peopleAttributes)
+ relationships (object)
    + castings (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/people/1/relationships/castings`
            + related: `https://kitsu.io/api/edge/people/1/castings`
## producersAttributes (object)
+ slug: sunrise
+ name: Sunrise

## producers (object)
+ id: 1
+ type: producers (enum)
  + producers
+ links (object)
    + self: `https://kitsu.io/api/edge/producers/1`
+ attributes (producersAttributes)
+ relationships (object)
    + animeProductions (object)
        + links (object)
            + self: `https://kitsu.io/api/edge/producers/1/relationships/anime-productions`
            + related: `https://kitsu.io/api/edge/producers/1/anime-productions`







































