openapi: 3.0.3

info:
  version: 'edge'
  title: Kitsu JSON:API
  description: NYI
  termsOfService: https://kitsu.io/terms
  contact:
    url: https://kitsu.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
- url: https://kitsu.io/api/edge
  description: Production API

x-tagGroups:
  - name: Media
    tags:
    - Anime

paths:
  /anime:
    $ref: ./paths/anime.yml
  /anime/{id}:
    $ref: ./paths/anime-id.yml

#users          GET    /api/edge/users users#index
#               POST   /api/edge/users users#create
#user           GET    /api/edge/users/:id users#show
#               PATCH  /api/edge/users/:id users#update
#               PUT    /api/edge/users/:id users#update
#               DELETE /api/edge/users/:id users#destroy

#users__recover POST   /api/edge/users/_recover users#recover
#               GET    /api/edge/users/:id/_strength users#profile_strength

#profile_links  GET    /api/edge/profile-links profile_links#index
#               POST   /api/edge/profile-links profile_links#create
#profile_link   GET    /api/edge/profile-links/:id profile_links#show
#               PATCH  /api/edge/profile-links/:id profile_links#update
#               PUT    /api/edge/profile-links/:id profile_links#update
#               DELETE /api/edge/profile-links/:id profile_links#destroy

#profile_link_sites GET    /api/edge/profile-link-sites profile_link_sites#index
#profile_link_site  GET    /api/edge/profile-link-sites/:id profile_link_sites#show

#import_from_facebook_follows POST   /api/edge/follows/import_from_facebook follows#import_from_facebook
#import_from_twitter_follows  POST   /api/edge/follows/import_from_twitter follows#import_from_twitter

#follows  GET    /api/edge/follows follows#index
#         POST   /api/edge/follows follows#create
#follow   GET    /api/edge/follows/:id follows#show
#         PATCH  /api/edge/follows/:id follows#update
#         PUT    /api/edge/follows/:id follows#update
#         DELETE /api/edge/follows/:id follows#destroy

#media_ignores  GET    /api/edge/media-ignores media_ignores#index
#               POST   /api/edge/media-ignores media_ignores#create
#media_ignore   GET    /api/edge/media-ignores/:id media_ignores#show
#               PATCH  /api/edge/media-ignores/:id media_ignores#update
#               PUT    /api/edge/media-ignores/:id media_ignores#update
#               DELETE /api/edge/media-ignores/:id media_ignores#destroy

#post_follows GET    /api/edge/post-follows post_follows#index
#             POST   /api/edge/post-follows post_follows#create
#post_follow  GET    /api/edge/post-follows/:id post_follows#show
#             PATCH  /api/edge/post-follows/:id post_follows#update
#             PUT    /api/edge/post-follows/:id post_follows#update
#             DELETE /api/edge/post-follows/:id post_follows#destroy

#blocks GET    /api/edge/blocks blocks#index
#       POST   /api/edge/blocks blocks#create
#block  GET    /api/edge/blocks/:id blocks#show
#       PATCH  /api/edge/blocks/:id blocks#update
#       PUT    /api/edge/blocks/:id blocks#update
#       DELETE /api/edge/blocks/:id blocks#destroy

#linked_accounts  GET    /api/edge/linked-accounts linked_accounts#index
#                 POST   /api/edge/linked-accounts linked_accounts#create
#linked_account GET    /api/edge/linked-accounts/:id linked_accounts#show
#               PATCH  /api/edge/linked-accounts/:id linked_accounts#update
#               PUT    /api/edge/linked-accounts/:id linked_accounts#update
#               DELETE /api/edge/linked-accounts/:id linked_accounts#destroy

#list_imports GET    /api/edge/list-imports list_imports#index
#             POST   /api/edge/list-imports list_imports#create
#list_import  GET    /api/edge/list-imports/:id list_imports#show
#             PATCH  /api/edge/list-imports/:id list_imports#update
#             PUT    /api/edge/list-imports/:id list_imports#update
#             DELETE /api/edge/list-imports/:id list_imports#destroy

#library_entry_logs GET    /api/edge/library-entry-logs library_entry_logs#index
#library_entry_log GET    /api/edge/library-entry-logs/:id library_entry_logs#show

#user_roles GET    /api/edge/user-roles user_roles#index
#           POST   /api/edge/user-roles user_roles#create
#user_role  GET    /api/edge/user-roles/:id user_roles#show
#           PATCH  /api/edge/user-roles/:id user_roles#update
#           PUT    /api/edge/user-roles/:id user_roles#update
#           DELETE /api/edge/user-roles/:id user_roles#destroy

#roles  GET    /api/edge/roles roles#index
#       POST   /api/edge/roles roles#create
#role   GET    /api/edge/roles/:id roles#show
#       PATCH  /api/edge/roles/:id roles#update
#       PUT    /api/edge/roles/:id roles#update
#       DELETE /api/edge/roles/:id roles#destroy

#notification_settings  GET    /api/edge/notification-settings notification_settings#index
#                       POST   /api/edge/notification-settings notification_settings#create
#notification_setting   GET    /api/edge/notification-settings/:id notification_settings#show
#                       PATCH  /api/edge/notification-settings/:id notification_settings#update
#                       PUT    /api/edge/notification-settings/:id notification_settings#update
#                       DELETE /api/edge/notification-settings/:id notification_settings#destroy

#one_signal_players GET    /api/edge/one-signal-players one_signal_players#index
#                   POST   /api/edge/one-signal-players one_signal_players#create
#one_signal_player  GET    /api/edge/one-signal-players/:id one_signal_players#show
#                   PATCH  /api/edge/one-signal-players/:id one_signal_players#update
#                   PUT    /api/edge/one-signal-players/:id one_signal_players#update
#                   DELETE /api/edge/one-signal-players/:id one_signal_players#destroy

#library_entries__issues  GET    /api/edge/library-entries/_issues library_entries#issues
#library_entries__bulk    DELETE /api/edge/library-entries/_bulk library_entries#bulk_delete
#                         PATCH  /api/edge/library-entries/_bulk library_entries#bulk_update
#                         PUT    /api/edge/library-entries/_bulk library_entries#bulk_update

#library_entries  GET    /api/edge/library-entries library_entries#index
#                 POST   /api/edge/library-entries library_entries#create
#library_entry    GET    /api/edge/library-entries/:id library_entries#show
#                 PATCH  /api/edge/library-entries/:id library_entries#update
#                 PUT    /api/edge/library-entries/:id library_entries#update
#                 DELETE /api/edge/library-entries/:id library_entries#destroy

#favorites  GET    /api/edge/favorites favorites#index
#           POST   /api/edge/favorites favorites#create
#favorite   GET    /api/edge/favorites/:id favorites#show
#           PATCH  /api/edge/favorites/:id favorites#update
#           PUT    /api/edge/favorites/:id favorites#update
#           DELETE /api/edge/favorites/:id favorites#destroy

#amas GET    /api/edge/amas amas#index
#     POST   /api/edge/amas amas#create
#ama  GET    /api/edge/amas/:id amas#show
#     PATCH  /api/edge/amas/:id amas#update
#     PUT    /api/edge/amas/:id amas#update
#     DELETE /api/edge/amas/:id amas#destroy

#ama_subscribers  GET    /api/edge/ama-subscribers ama_subscribers#index
#                 POST   /api/edge/ama-subscribers ama_subscribers#create
#ama_subscriber   GET    /api/edge/ama-subscribers/:id ama_subscribers#show
#                 PATCH  /api/edge/ama-subscribers/:id ama_subscribers#update
#                 PUT    /api/edge/ama-subscribers/:id ama_subscribers#update
#                 DELETE /api/edge/ama-subscribers/:id ama_subscribers#destroy

#category_favorites GET    /api/edge/category-favorites category_favorites#index
#                   POST   /api/edge/category-favorites category_favorites#create
#category_favorite  GET    /api/edge/category-favorites/:id category_favorites#show
#                   PATCH  /api/edge/category-favorites/:id category_favorites#update
#                   PUT    /api/edge/category-favorites/:id category_favorites#update
#                   DELETE /api/edge/category-favorites/:id category_favorites#destroy

#categories GET    /api/edge/categories categories#index
#           POST   /api/edge/categories categories#create
#category   GET    /api/edge/categories/:id categories#show
#           PATCH  /api/edge/categories/:id categories#update
#           PUT    /api/edge/categories/:id categories#update
#           DELETE /api/edge/categories/:id categories#destroy

#anime_index  GET    /api/edge/anime anime#index
#             POST   /api/edge/anime anime#create
#anime        GET    /api/edge/anime/:id anime#show
#             PATCH  /api/edge/anime/:id anime#update
#             PUT    /api/edge/anime/:id anime#update
#             DELETE /api/edge/anime/:id anime#destroy

#manga_index  GET    /api/edge/manga manga#index
#             POST   /api/edge/manga manga#create
#manga        GET    /api/edge/manga/:id manga#show
#             PATCH  /api/edge/manga/:id manga#update
#             PUT    /api/edge/manga/:id manga#update
#             DELETE /api/edge/manga/:id manga#destroy

#drama_index  GET    /api/edge/drama drama#index
#             POST   /api/edge/drama drama#create
#drama        GET    /api/edge/drama/:id drama#show
#             PATCH  /api/edge/drama/:id drama#update
#             PUT    /api/edge/drama/:id drama#update
#             DELETE /api/edge/drama/:id drama#destroy

#anime_characters GET    /api/edge/anime-characters anime_characters#index
#                 POST   /api/edge/anime-characters anime_characters#create
#anime_character  GET    /api/edge/anime-characters/:id anime_characters#show
#                 PATCH  /api/edge/anime-characters/:id anime_characters#update
#                 PUT    /api/edge/anime-characters/:id anime_characters#update
#                 DELETE /api/edge/anime-characters/:id anime_characters#destroy

#               GET    /api/edge/anime-castings anime_castings#index
#               POST   /api/edge/anime-castings anime_castings#create
#anime_casting  GET    /api/edge/anime-castings/:id anime_castings#show
#               PATCH  /api/edge/anime-castings/:id anime_castings#update
#               PUT    /api/edge/anime-castings/:id anime_castings#update
#               DELETE /api/edge/anime-castings/:id anime_castings#destroy

#anime_staff_index  GET    /api/edge/anime-staff anime_staff#index
#                   POST   /api/edge/anime-staff anime_staff#create
#anime_staff        GET    /api/edge/anime-staff/:id anime_staff#show
#                   PATCH  /api/edge/anime-staff/:id anime_staff#update
#                   PUT    /api/edge/anime-staff/:id anime_staff#update
#                   DELETE /api/edge/anime-staff/:id anime_staff#destroy

#drama_characters GET    /api/edge/drama-characters drama_characters#index
#                 POST   /api/edge/drama-characters drama_characters#create
#drama_character  GET    /api/edge/drama-characters/:id drama_characters#show
#                 PATCH  /api/edge/drama-characters/:id drama_characters#update
#                 PUT    /api/edge/drama-characters/:id drama_characters#update
#                 DELETE /api/edge/drama-characters/:id drama_characters#destroy

#               GET    /api/edge/drama-castings drama_castings#index
#               POST   /api/edge/drama-castings drama_castings#create
#drama_casting  GET    /api/edge/drama-castings/:id drama_castings#show
#               PATCH  /api/edge/drama-castings/:id drama_castings#update
#               PUT    /api/edge/drama-castings/:id drama_castings#update
#               DELETE /api/edge/drama-castings/:id drama_castings#destroy

#drama_staff_index  GET    /api/edge/drama-staff drama_staff#index
#                   POST   /api/edge/drama-staff drama_staff#create
#drama_staff        GET    /api/edge/drama-staff/:id drama_staff#show
#                   PATCH  /api/edge/drama-staff/:id drama_staff#update
#                   PUT    /api/edge/drama-staff/:id drama_staff#update
#                   DELETE /api/edge/drama-staff/:id drama_staff#destroy

#manga_characters GET    /api/edge/manga-characters manga_characters#index
#                 POST   /api/edge/manga-characters manga_characters#create
#manga_character  GET    /api/edge/manga-characters/:id manga_characters#show
#                 PATCH  /api/edge/manga-characters/:id manga_characters#update
#                 PUT    /api/edge/manga-characters/:id manga_characters#update
#                 DELETE /api/edge/manga-characters/:id manga_characters#destroy

#manga_staff_index  GET    /api/edge/manga-staff manga_staff#index
#                   POST   /api/edge/manga-staff manga_staff#create
#manga_staff        GET    /api/edge/manga-staff/:id manga_staff#show
#                   PATCH  /api/edge/manga-staff/:id manga_staff#update
#                   PUT    /api/edge/manga-staff/:id manga_staff#update
#                   DELETE /api/edge/manga-staff/:id manga_staff#destroy

#mappings GET    /api/edge/mappings mappings#index
#         POST   /api/edge/mappings mappings#create
#mapping  GET    /api/edge/mappings/:id mappings#show
#         PATCH  /api/edge/mappings/:id mappings#update
#         PUT    /api/edge/mappings/:id mappings#update
#         DELETE /api/edge/mappings/:id mappings#destroy

#genres GET    /api/edge/genres genres#index
#       POST   /api/edge/genres genres#create
#genre  GET    /api/edge/genres/:id genres#show
#       PATCH  /api/edge/genres/:id genres#update
#       PUT    /api/edge/genres/:id genres#update
#       DELETE /api/edge/genres/:id genres#destroy

#streaming_links  GET    /api/edge/streaming-links streaming_links#index
#                 POST   /api/edge/streaming-links streaming_links#create
#streaming_link   GET    /api/edge/streaming-links/:id streaming_links#show
#                 PATCH  /api/edge/streaming-links/:id streaming_links#update
#                 PUT    /api/edge/streaming-links/:id streaming_links#update
#                 DELETE /api/edge/streaming-links/:id streaming_links#destroy

#streamers  GET    /api/edge/streamers streamers#index
#           POST   /api/edge/streamers streamers#create
#streamer   GET    /api/edge/streamers/:id streamers#show
#           PATCH  /api/edge/streamers/:id streamers#update
#           PUT    /api/edge/streamers/:id streamers#update
#           DELETE /api/edge/streamers/:id streamers#destroy

#media_attributes GET    /api/edge/media-attributes media_attributes#index
#                 POST   /api/edge/media-attributes media_attributes#create
#media_attribute  GET    /api/edge/media-attributes/:id media_attributes#show
#                 PATCH  /api/edge/media-attributes/:id media_attributes#update
#                 PUT    /api/edge/media-attributes/:id media_attributes#update
#                 DELETE /api/edge/media-attributes/:id media_attributes#destroy

#media_attribute_votes  GET    /api/edge/media-attribute-votes media_attribute_votes#index
#                       POST   /api/edge/media-attribute-votes media_attribute_votes#create
#media_attribute_vote   GET    /api/edge/media-attribute-votes/:id media_attribute_votes#show
#                       PATCH  /api/edge/media-attribute-votes/:id media_attribute_votes#update
#                       PUT    /api/edge/media-attribute-votes/:id media_attribute_votes#update
#                       DELETE /api/edge/media-attribute-votes/:id media_attribute_votes#destroy

#anime_media_attributes GET    /api/edge/anime-media-attributes anime_media_attributes#index
#                       POST   /api/edge/anime-media-attributes anime_media_attributes#create
#anime_media_attribute  GET    /api/edge/anime-media-attributes/:id anime_media_attributes#show
#                       PATCH  /api/edge/anime-media-attributes/:id anime_media_attributes#update
#                       PUT    /api/edge/anime-media-attributes/:id anime_media_attributes#update
#                       DELETE /api/edge/anime-media-attributes/:id anime_media_attributes#destroy

#dramas_media_attributes  GET    /api/edge/dramas-media-attributes dramas_media_attributes#index
#                         POST   /api/edge/dramas-media-attributes dramas_media_attributes#create
#dramas_media_attribute   GET    /api/edge/dramas-media-attributes/:id dramas_media_attributes#show
#                         PATCH  /api/edge/dramas-media-attributes/:id dramas_media_attributes#update
#                         PUT    /api/edge/dramas-media-attributes/:id dramas_media_attributes#update
#                         DELETE /api/edge/dramas-media-attributes/:id dramas_media_attributes#destroy

#manga_media_attributes GET    /api/edge/manga-media-attributes manga_media_attributes#index
#                       POST   /api/edge/manga-media-attributes manga_media_attributes#create
#manga_media_attribute  GET    /api/edge/manga-media-attributes/:id manga_media_attributes#show
#                       PATCH  /api/edge/manga-media-attributes/:id manga_media_attributes#update
#                       PUT    /api/edge/manga-media-attributes/:id manga_media_attributes#update
#                       DELETE /api/edge/manga-media-attributes/:id manga_media_attributes#destroy

#anime_productions  GET    /api/edge/anime-productions anime_productions#index
#                   POST   /api/edge/anime-productions anime_productions#create
#anime_production   GET    /api/edge/anime-productions/:id anime_productions#show
#                   PATCH  /api/edge/anime-productions/:id anime_productions#update
#                   PUT    /api/edge/anime-productions/:id anime_productions#update
#                   DELETE /api/edge/anime-productions/:id anime_productions#destroy

#episodes GET    /api/edge/episodes episodes#index
#         POST   /api/edge/episodes episodes#create
#episode  GET    /api/edge/episodes/:id episodes#show
#         PATCH  /api/edge/episodes/:id episodes#update
#         PUT    /api/edge/episodes/:id episodes#update
#         DELETE /api/edge/episodes/:id episodes#destroy

#chapters GET    /api/edge/chapters chapters#index
#         POST   /api/edge/chapters chapters#create
#chapter  GET    /api/edge/chapters/:id chapters#show
#         PATCH  /api/edge/chapters/:id chapters#update
#         PUT    /api/edge/chapters/:id chapters#update
#         DELETE /api/edge/chapters/:id chapters#destroy

#stats  GET    /api/edge/stats stats#index
#stat   GET    /api/edge/stats/:id stats#show

#castings GET    /api/edge/castings castings#index
#         POST   /api/edge/castings castings#create
#casting  GET    /api/edge/castings/:id castings#show
#         PATCH  /api/edge/castings/:id castings#update
#         PUT    /api/edge/castings/:id castings#update
#         DELETE /api/edge/castings/:id castings#destroy
#         GET    /api/edge/anime/:anime_id/_languages anime#languages

#franchises GET    /api/edge/franchises franchises#index
#           POST   /api/edge/franchises franchises#create
#franchise  GET    /api/edge/franchises/:id franchises#show
#           PATCH  /api/edge/franchises/:id franchises#update
#           PUT    /api/edge/franchises/:id franchises#update
#           DELETE /api/edge/franchises/:id franchises#destroy

#installments GET    /api/edge/installments installments#index
#             POST   /api/edge/installments installments#create
#installment  GET    /api/edge/installments/:id installments#show
#             PATCH  /api/edge/installments/:id installments#update
#             PUT    /api/edge/installments/:id installments#update
#             DELETE /api/edge/installments/:id installments#destroy

#reviews  GET    /api/edge/reviews reviews#index
#         POST   /api/edge/reviews reviews#create
#review   GET    /api/edge/reviews/:id reviews#show
#         PATCH  /api/edge/reviews/:id reviews#update
#         PUT    /api/edge/reviews/:id reviews#update
#         DELETE /api/edge/reviews/:id reviews#destroy

#review_likes GET    /api/edge/review-likes review_likes#index
#             POST   /api/edge/review-likes review_likes#create
#review_like  GET    /api/edge/review-likes/:id review_likes#show
#             PATCH  /api/edge/review-likes/:id review_likes#update
#             PUT    /api/edge/review-likes/:id review_likes#update
#             DELETE /api/edge/review-likes/:id review_likes#destroy

#media_reaction_votes GET    /api/edge/media-reaction-votes media_reaction_votes#index
#                     POST   /api/edge/media-reaction-votes media_reaction_votes#create
#media_reaction_vote  GET    /api/edge/media-reaction-votes/:id media_reaction_votes#show
#                     PATCH  /api/edge/media-reaction-votes/:id media_reaction_votes#update
#                     PUT    /api/edge/media-reaction-votes/:id media_reaction_votes#update
#                     DELETE /api/edge/media-reaction-votes/:id media_reaction_votes#destroy

#media_reactions  GET    /api/edge/media-reactions media_reactions#index
#                 POST   /api/edge/media-reactions media_reactions#create
#media_reaction   GET    /api/edge/media-reactions/:id media_reactions#show
#                 PATCH  /api/edge/media-reactions/:id media_reactions#update
#                 PUT    /api/edge/media-reactions/:id media_reactions#update
#                 DELETE /api/edge/media-reactions/:id media_reactions#destroy

#GET    /api/edge/trending/:namespace trending#index

#GET    /api/edge/recommendations/:namespace recommendations#index
#GET    /api/edge/recommendations/:namespace/realtime recommendations#realtime

#GET    /api/edge/category_recommendations/:namespace category_recommendations#index
#GET    /api/edge/category_recommendations/:namespace/realtime category_recommendations#realtime

#community_recommendation_follows GET    /api/edge/community-recommendation-follows community_recommendation_follows#index
#                                 POST   /api/edge/community-recommendation-follows community_recommendation_follows#create
#community_recommendation_follow  GET    /api/edge/community-recommendation-follows/:id community_recommendation_follows#show
#                                 PATCH  /api/edge/community-recommendation-follows/:id community_recommendation_follows#update
#                                 PUT    /api/edge/community-recommendation-follows/:id community_recommendation_follows#update
#                                 DELETE /api/edge/community-recommendation-follows/:id community_recommendation_follows#destroy

#community_recommendations  GET    /api/edge/community-recommendations community_recommendations#index
#                           POST   /api/edge/community-recommendations community_recommendations#create
#community_recommendation   GET    /api/edge/community-recommendations/:id community_recommendations#show
#                           PATCH  /api/edge/community-recommendations/:id community_recommendations#update
#                           PUT    /api/edge/community-recommendations/:id community_recommendations#update
#                           DELETE /api/edge/community-recommendations/:id community_recommendations#destroy

#community_recommendation_requests  GET    /api/edge/community-recommendation-requests community_recommendation_requests#index
#                                   POST   /api/edge/community-recommendation-requests community_recommendation_requests#create
#community_recommendation_request   GET    /api/edge/community-recommendation-requests/:id community_recommendation_requests#show
#                                   PATCH  /api/edge/community-recommendation-requests/:id community_recommendation_requests#update
#                                   PUT    /api/edge/community-recommendation-requests/:id community_recommendation_requests#update
#                                   DELETE /api/edge/community-recommendation-requests/:id community_recommendation_requests#destroy

#characters GET    /api/edge/characters characters#index
#           POST   /api/edge/characters characters#create
#character  GET    /api/edge/characters/:id characters#show
#           PATCH  /api/edge/characters/:id characters#update
#           PUT    /api/edge/characters/:id characters#update
#           DELETE /api/edge/characters/:id characters#destroy





#people GET    /api/edge/people people#index
#POST   /api/edge/people people#create
#person GET    /api/edge/people/:id people#show
#PATCH  /api/edge/people/:id people#update
#PUT    /api/edge/people/:id people#update
#DELETE /api/edge/people/:id people#destroy





#producers GET    /api/edge/producers producers#index
#POST   /api/edge/producers producers#create
#producer GET    /api/edge/producers/:id producers#show
#PATCH  /api/edge/producers/:id producers#update
#PUT    /api/edge/producers/:id producers#update
#DELETE /api/edge/producers/:id producers#destroy







#posts GET    /api/edge/posts posts#index
#POST   /api/edge/posts posts#create
#post GET    /api/edge/posts/:id posts#show
#PATCH  /api/edge/posts/:id posts#update
#PUT    /api/edge/posts/:id posts#update
#DELETE /api/edge/posts/:id posts#destroy








#post_likes GET    /api/edge/post-likes post_likes#index
#POST   /api/edge/post-likes post_likes#create
#post_like GET    /api/edge/post-likes/:id post_likes#show
#PATCH  /api/edge/post-likes/:id post_likes#update
#PUT    /api/edge/post-likes/:id post_likes#update
#DELETE /api/edge/post-likes/:id post_likes#destroy



#comments GET    /api/edge/comments comments#index
#POST   /api/edge/comments comments#create
#comment GET    /api/edge/comments/:id comments#show
#PATCH  /api/edge/comments/:id comments#update
#PUT    /api/edge/comments/:id comments#update
#DELETE /api/edge/comments/:id comments#destroy








#GET    /api/edge/comment-likes comment_likes#index
#POST   /api/edge/comment-likes comment_likes#create
#comment_like GET    /api/edge/comment-likes/:id comment_likes#show
#PATCH  /api/edge/comment-likes/:id comment_likes#update
#PUT    /api/edge/comment-likes/:id comment_likes#update
#DELETE /api/edge/comment-likes/:id comment_likes#destroy




#reports GET    /api/edge/reports reports#index
#POST   /api/edge/reports reports#create
#report GET    /api/edge/reports/:id reports#show
#PATCH  /api/edge/reports/:id reports#update
#PUT    /api/edge/reports/:id reports#update
#DELETE /api/edge/reports/:id reports#destroy








#reposts GET    /api/edge/reposts reposts#index
#POST   /api/edge/reposts reposts#create
#repost GET    /api/edge/reposts/:id reposts#show
#PATCH  /api/edge/reposts/:id reposts#update
#PUT    /api/edge/reposts/:id reposts#update
#DELETE /api/edge/reposts/:id reposts#destroy
#activity DELETE /api/edge/activities/:id activities#destroy
#GET    /api/edge/feeds/:group/:id feeds#show
#POST   /api/edge/feeds/:group/:id/_read feeds#mark_read
#POST   /api/edge/feeds/:group/:id/_seen feeds#mark_seen
#DELETE /api/edge/feeds/:group/:id/activities/:uuid feeds#destroy_activity
#embeds POST   /api/edge/embeds embeds#create




#site_announcements GET    /api/edge/site-announcements site_announcements#index
#POST   /api/edge/site-announcements site_announcements#create
#site_announcement GET    /api/edge/site-announcements/:id site_announcements#show
#PATCH  /api/edge/site-announcements/:id site_announcements#update
#PUT    /api/edge/site-announcements/:id site_announcements#update
#DELETE /api/edge/site-announcements/:id site_announcements#destroy



#groups GET    /api/edge/groups groups#index
#POST   /api/edge/groups groups#create
#group GET    /api/edge/groups/:id groups#show
#PATCH  /api/edge/groups/:id groups#update
#PUT    /api/edge/groups/:id groups#update
#DELETE /api/edge/groups/:id groups#destroy


#GET    /api/edge/group-members group_members#index
#POST   /api/edge/group-members group_members#create
#group_member GET    /api/edge/group-members/:id group_members#show
#PATCH  /api/edge/group-members/:id group_members#update
#PUT    /api/edge/group-members/:id group_members#update
#DELETE /api/edge/group-members/:id group_members#destroy




#group_permissions GET    /api/edge/group-permissions group_permissions#index
#POST   /api/edge/group-permissions group_permissions#create
#group_permission GET    /api/edge/group-permissions/:id group_permissions#show
#PATCH  /api/edge/group-permissions/:id group_permissions#update
#PUT    /api/edge/group-permissions/:id group_permissions#update
#DELETE /api/edge/group-permissions/:id group_permissions#destroy








#GET    /api/edge/group-neighbors group_neighbors#index
#POST   /api/edge/group-neighbors group_neighbors#create
#group_neighbor GET    /api/edge/group-neighbors/:id group_neighbors#show
#PATCH  /api/edge/group-neighbors/:id group_neighbors#update
#PUT    /api/edge/group-neighbors/:id group_neighbors#update
#DELETE /api/edge/group-neighbors/:id group_neighbors#destroy
#group_categories GET    /api/edge/group-categories group_categories#index
#POST   /api/edge/group-categories group_categories#create
#GET    /api/edge/group-categories/:id group_categories#show
#PATCH  /api/edge/group-categories/:id group_categories#update
#PUT    /api/edge/group-categories/:id group_categories#update
#DELETE /api/edge/group-categories/:id group_categories#destroy





#GET    /api/edge/group-tickets group_tickets#index
#POST   /api/edge/group-tickets group_tickets#create
#group_ticket GET    /api/edge/group-tickets/:id group_tickets#show
#PATCH  /api/edge/group-tickets/:id group_tickets#update
#PUT    /api/edge/group-tickets/:id group_tickets#update
#DELETE /api/edge/group-tickets/:id group_tickets#destroy








#GET    /api/edge/group-ticket-messages group_ticket_messages#index
#POST   /api/edge/group-ticket-messages group_ticket_messages#create
#group_ticket_message GET    /api/edge/group-ticket-messages/:id group_ticket_messages#show
#PATCH  /api/edge/group-ticket-messages/:id group_ticket_messages#update
#PUT    /api/edge/group-ticket-messages/:id group_ticket_messages#update
#DELETE /api/edge/group-ticket-messages/:id group_ticket_messages#destroy








#GET    /api/edge/group-reports group_reports#index
#POST   /api/edge/group-reports group_reports#create
#group_report GET    /api/edge/group-reports/:id group_reports#show
#PATCH  /api/edge/group-reports/:id group_reports#update
#PUT    /api/edge/group-reports/:id group_reports#update
#DELETE /api/edge/group-reports/:id group_reports#destroy




#group_bans GET    /api/edge/group-bans group_bans#index
#POST   /api/edge/group-bans group_bans#create
#group_ban GET    /api/edge/group-bans/:id group_bans#show
#PATCH  /api/edge/group-bans/:id group_bans#update
#PUT    /api/edge/group-bans/:id group_bans#update
#DELETE /api/edge/group-bans/:id group_bans#destroy








#GET    /api/edge/group-member-notes group_member_notes#index
#POST   /api/edge/group-member-notes group_member_notes#create
#group_member_note GET    /api/edge/group-member-notes/:id group_member_notes#show
#PATCH  /api/edge/group-member-notes/:id group_member_notes#update
#PUT    /api/edge/group-member-notes/:id group_member_notes#update
#DELETE /api/edge/group-member-notes/:id group_member_notes#destroy








#leader_chat_messages GET    /api/edge/leader-chat-messages leader_chat_messages#index
#POST   /api/edge/leader-chat-messages leader_chat_messages#create
#leader_chat_message GET    /api/edge/leader-chat-messages/:id leader_chat_messages#show
#PATCH  /api/edge/leader-chat-messages/:id leader_chat_messages#update
#PUT    /api/edge/leader-chat-messages/:id leader_chat_messages#update
#DELETE /api/edge/leader-chat-messages/:id leader_chat_messages#destroy




#GET    /api/edge/group-action-logs group_action_logs#index
#POST   /api/edge/group-action-logs group_action_logs#create
#group_action_log GET    /api/edge/group-action-logs/:id group_action_logs#show
#PATCH  /api/edge/group-action-logs/:id group_action_logs#update
#PUT    /api/edge/group-action-logs/:id group_action_logs#update
#DELETE /api/edge/group-action-logs/:id group_action_logs#destroy




#GET    /api/edge/group-invites group_invites#index
#POST   /api/edge/group-invites group_invites#create
#group_invite GET    /api/edge/group-invites/:id group_invites#show
#PATCH  /api/edge/group-invites/:id group_invites#update
#PUT    /api/edge/group-invites/:id group_invites#update
#DELETE /api/edge/group-invites/:id group_invites#destroy
#POST   /api/edge/group-invites/:id/_accept group_invites#accept
#POST   /api/edge/group-invites/:id/_decline group_invites#decline
#POST   /api/edge/group-invites/:id/_revoke group_invites#revoke
#GET    /api/edge/groups/:id/_stats groups#stats
#POST   /api/edge/groups/:id/_read groups#read
#GET    /api/edge/algolia-keys/:action algolia_keys#:action
#algolia_keys GET    /api/edge/algolia-keys algolia_keys#all
#sso_canny GET    /api/edge/sso/canny sso#canny
#uploads__bulk POST   /api/edge/uploads/_bulk uploads#bulk_create








#uploads  GET    /api/edge/uploads uploads#index
#         POST   /api/edge/uploads uploads#create
#upload   GET    /api/edge/uploads/:id uploads#show
#         PATCH  /api/edge/uploads/:id uploads#update
#         PUT    /api/edge/uploads/:id uploads#update
#         DELETE /api/edge/uploads/:id uploads#destroy

#                               GET    /api/oauth/authorize/:code doorkeeper/authorizations#show
#oauth_authorization            GET    /api/oauth/authorize doorkeeper/authorizations#new
#                               POST   /api/oauth/authorize doorkeeper/authorizations#create
#                               DELETE /api/oauth/authorize doorkeeper/authorizations#destroy
#oauth_token                    POST   /api/oauth/token doorkeeper/tokens#create
#oauth_revoke                   POST   /api/oauth/revoke doorkeeper/tokens#revoke
#oauth_applications             GET    /api/oauth/applications doorkeeper/applications#index
#                               POST   /api/oauth/applications doorkeeper/applications#create
#new_oauth_application          GET    /api/oauth/applications/new doorkeeper/applications#new
#edit_oauth_application         GET    /api/oauth/applications/:id/edit doorkeeper/applications#edit
#oauth_application              GET    /api/oauth/applications/:id doorkeeper/applications#show
#                               PATCH  /api/oauth/applications/:id doorkeeper/applications#update
#                               PUT    /api/oauth/applications/:id doorkeeper/applications#update
#                               DELETE /api/oauth/applications/:id doorkeeper/applications#destroy
#oauth_authorized_applications  GET    /api/oauth/authorized_applications doorkeeper/authorized_applications#index
#oauth_authorized_application   DELETE /api/oauth/authorized_applications/:id doorkeeper/authorized_applications#destroy
#oauth_token_info               GET    /api/oauth/token/info doorkeeper/token_info#show

components:
  # https://github.com/hummingbird-me/kitsu-server/tree/the-future/app/resources
  # https://github.com/hummingbird-me/kitsu-server/tree/the-future/app/models
  # https://github.com/hummingbird-me/kitsu-server/tree/the-future/app/policies
  schemas:
    #ActivityGroup:
    #  $ref: ./schemas/resources/activityGroup.yml
    #Activity:
    #  $ref: ./schemas/resources/activity.yml
    #Actor:
    #  $ref: ./schemas/resources/actor.yml
    #AMA:
    #  $ref: ./schemas/resources/ama.yml
    #AMASubscriber:
    #  $ref: ./schemas/resources/ama-subscriber.yml
    #AnimeCasting:
    #  $ref: ./schemas/resources/anime-casting.yml
    #AnimeCharacter:
    #  $ref: ./schemas/resources/anime-character.yml
    #AnimeMediaAttribute:
    #  $ref: ./schemas/resources/anime-media-attribute.yml
    #AnimeProductionResource:
    ##  $ref: ./schemas/resources/anime-production-resource.yml
    Anime:
      $ref: ./schemas/resources/anime.yml
    #AnimeStaff:
    #  $ref: ./schemas/resources/anime-staff.yml
    #Base: # Inherited by all resources
    #  $ref: ./schemas/resources/base.yml
    #Block:
    #  $ref: ./schemas/resources/block.yml
    #Casting:
    #  $ref: ./schemas/resources/casting.yml
    #CategoryFavorite:
    #  $ref: ./schemas/resources/category-favorite.yml
    #CategoryRecommendation:
    #  $ref: ./schemas/resources/category-recommendation.yml
    #Category:
    #  $ref: ./schemas/resources/category.yml
    #Chapter:
    #  $ref: ./schemas/resources/chapter.yml
    #Character:
    #  $ref: ./schemas/resources/character.yml
    #CharacterVoice:
    #  $ref: ./schemas/resources/character-voice.yml
    #CommentLike:
    #  $ref: ./schemas/resources/comment-like.yml
    #Comment:
    #  $ref: ./schemas/resources/comment.yml
    #CommunityRecommendationFollow:
    #  $ref: ./schemas/resources/community-recommendation-follow.yml
    #CommunityRecommendationRequest:
    #  $ref: ./schemas/resources/community-recommendation-request.yml
    #CommunityRecommendation:
    #  $ref: ./schemas/resources/community-recommendation.yml
    #Destination:
    #  $ref: ./schemas/resources/destination.yml
    #DramaCasting:
    #  $ref: ./schemas/resources/drama-casting.yml
    #DramaCharacter:
    #  $ref: ./schemas/resources/drama-character.yml
    #Drama:
    #  $ref: ./schemas/resources/drama.yml
    #DramasMediaAttribute: # DramaMediaAttribute?
    #  $ref: ./schemas/resources/dramas-media-attribute.yml
    #Episode:
    #  $ref: ./schemas/resources/episode.yml
    #Favorite:
    #  $ref: ./schemas/resources/favorite.yml
    #Feed:
    #  $ref: ./schemas/resources/feed.yml
    #Follow:
    #  $ref: ./schemas/resources/follow.yml
    #Franchise: # deprecated
    #  $ref: ./schemas/resources/franchise.yml
    #Genre: # deprecated
    #  $ref: ./schemas/resources/genre.yml
    #GroupActionLog:
    #  $ref: ./schemas/resources/group-action-log.yml
    #GroupBan:
    #  $ref: ./schemas/resources/group-ban.yml
    #GroupCategory:
    #  $ref: ./schemas/resources/group-category.yml
    #GroupInvite:
    #  $ref: ./schemas/resources/group-invite.yml
    #GroupMemberNote:
    #  $ref: ./schemas/resources/group-member-note.yml
    #GroupMember:
    #  $ref: ./schemas/resources/group-member.yml
    #GroupNeighbor:
    #  $ref: ./schemas/resources/group-neighbor.yml
    #GroupPermission:
    #  $ref: ./schemas/resources/group-permission.yml
    #GroupReport:
    #  $ref: ./schemas/resources/group-report.yml
    #Group:
    #  $ref: ./schemas/resources/group.yml
    #GroupTicketMessage:
    #  $ref: ./schemas/resources/group-ticket-message.yml
    #GroupTicket:
    #  $ref: ./schemas/resources/group-ticket.yml
    #Installment: # deprecated
    #  $ref: ./schemas/resources/installment.yml
    #Item:
    #  $ref: ./schemas/resources/item.yml
    #LeaderChatMessage:
    #  $ref: ./schemas/resources/leader-chat-message.yml
    #LibraryEntryLog:
    #  $ref: ./schemas/resources/library-entry-log.yml
    #LibraryEntry:
    #  $ref: ./schemas/resources/library-entry.yml
    #LibraryEvent:
    #  $ref: ./schemas/resources/library-event.yml
    #LinkedAccount:
    #  $ref: ./schemas/resources/linked-account.yml
    #ListImport:
    #  $ref: ./schemas/resources/list-import.yml
    #MangaCharacter:
    #  $ref: ./schemas/resources/manga-character.yml
    #MangaMediaAttribute:
    #  $ref: ./schemas/resources/manga-media-attribute.yml
    #Manga:
    #  $ref: ./schemas/resources/manga.yml
    #MangaStaff:
    #  $ref: ./schemas/resources/manga-staff.yml
    #Mapping:
    #  $ref: ./schemas/resources/mapping.yml
    #MediaAttribute:
    #  $ref: ./schemas/resources/media-attribute.yml
    #MediaAttributeVote:
    #  $ref: ./schemas/resources/media-attribute-vote.yml
    #MediaCharacter:
    #  $ref: ./schemas/resources/media-character.yml
    #MediaIgnore:
    #  $ref: ./schemas/resources/media-ignore.yml
    #MediaProduction:
    #  $ref: ./schemas/resources/media-production.yml
    #MediaReaction:
    #  $ref: ./schemas/resources/media-reaction.yml
    #MediaReactionVote:
    #  $ref: ./schemas/resources/media-reaction-vote.yml
    #MediaRelationship:
    #  $ref: ./schemas/resources/media-relationship.yml
    #Media:
    #  $ref: ./schemas/resources/media.yml
    #MediaStaff:
    #  $ref: ./schemas/resources/media-staff.yml
    #Naughty:
    #  $ref: ./schemas/resources/naughty.yml
    #NextUnit:
    #  $ref: ./schemas/resources/next-unit.yml
    #NotificationSetting:
    #  $ref: ./schemas/resources/notification-setting.yml
    #OneSignalPlayer:
    #  $ref: ./schemas/resources/one-signal-player.yml
    #Owner:
    #  $ref: ./schemas/resources/owner.yml
    #Person:
    #  $ref: ./schemas/resources/person.yml
    #PostFollow:
    #  $ref: ./schemas/resources/post-follow.yml
    #PostLike:
    #  $ref: ./schemas/resources/post-like.yml
    #Post:
    #  $ref: ./schemas/resources/post.yml
    #Producer:
    #  $ref: ./schemas/resources/producer.yml
    #ProfileLink:
    #  $ref: ./schemas/resources/profile-link.yml
    #ProfileLinkSite:
    #  $ref: ./schemas/resources/profile-link-site.yml
    #QuoteLike:
    #  $ref: ./schemas/resources/quote-like.yml
    #Quote:
    #  $ref: ./schemas/resources/quote.yml
    #Report:
    #  $ref: ./schemas/resources/report.yml
    #Repost:
    #  $ref: ./schemas/resources/repost.yml
    #Resource:
    #  $ref: ./schemas/resources/resource.yml
    #ReviewLike: #deprecated
    #  $ref: ./schemas/resources/review-like.yml
    #Review: #deprecated
    #  $ref: ./schemas/resources/review.yml
    #Role:
    #  $ref: ./schemas/resources/role.yml
    #SiteAnnouncement:
    #  $ref: ./schemas/resources/site-announcement.yml
    #Source:
    #  $ref: ./schemas/resources/source.yml
    #SpoiledUnit:
    #  $ref: ./schemas/resources/spoiled-unit.yml
    #Stat:
    #  $ref: ./schemas/resources/stat.yml
    #Streamer:
    #  $ref: ./schemas/resources/streamer.yml
    #StreamingLink:
    #  $ref: ./schemas/resources/streaming-link.yml
    #Subject:
    #  $ref: ./schemas/resources/subject.yml
    #Target:
    #  $ref: ./schemas/resources/target.yml
    #Unit:
    #  $ref: ./schemas/resources/unit.yml
    #Upload:
    #  $ref: ./schemas/resources/upload.yml
    #User:
    #  $ref: ./schemas/resources/user.yml
    #UserRole:
    #  $ref: ./schemas/resources/user-role.yml
    #Video:
    #  $ref: ./schemas/resources/video.yml
